<!-- <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" /> -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,600" rel="stylesheet">
<link 
    rel="stylesheet" 
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
    crossorigin="anonymous">
<link 
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" 
    rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" 
    crossorigin="anonymous">
<link 
    rel="stylesheet" 
    type="text/css" 
    href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link 
    rel="stylesheet" 
    href="style/dashboard.css" 
    type="text/css" 
    media="all" />


<header>
  <div class="navmenu-container">
    <div class="container">
      <nav class="navmenu">
        <div class="navmenu__logo">
          <a href="/" title="Ekrut.com">
            <div class="logo">
              <h1>
                <img class="navmenu__logo__image" src="img/logo-white.svg" alt="logo">
                <span class="logo__text">Ekrut.com</span>
              </h1>
            </div>
          </a>
        </div>

        <div class="navmenu__list">
          <div class="navmenu__list__icon--bar">
            <i class="fa fa-bars" aria-hidden="true"></i>
          </div>

          <div class="menu">
            <div class="navmenu__list__icon--close">
              <i class="fa fa-times-circle" aria-hidden="true"></i>
            </div>
            <ul>
              <li> <a href="#" title="Activity Board">Activity Board</a></li>
              <li> <a href="#" title="Find Talents">Find Talents</a></li>
              <li><a href="#" title="Bookmarks">Bookmarks</a></li>
              <li><a href="#" title="Interviews">Interviews<span class="navmenu__counter">9</span></a></li>
              <li class="menu-dropdown">
                <button class="menu-dropdown__button">
                  <div class="menu__profile">JohnDoa</div> 
                  <span class="imgProfile"><img src="img/author.jpg"></span>
                  <i class="fa fa-angle-down align-self-center" aria-hidden="true"></i>
                </button>
                <ul class="menu-dropdown__list">
                  <li><a href="#" title="Marketplace">Marketplace</a></li>
                  <li><a href="#" title="Headhunting">Headhunting</a></li>
                  <li><a href="#" title="Pricing">Pricing</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>

        <div class="clearfix"></div>
      </nav>
    </div>
  </div>
</header>

<div class="row no-gutters dashboard-wrapper">
  <aside class="col-md-2 dashboard-sidebar">
    <button class="dashboard-sidebar__create">
      <i class="fa fa-plus-circle text-info fa-lg align-self-center" aria-hidden="true"></i> 
      <div class="dashboard-sidebar__create__title">Create Position</div>
    </button>
    <ul class="dashboard-sidebar__list">
      <li><a href="#">Software Engineer</a></li>
      <li><a href="#">Backend Engineer</a></li>
      <li><a href="#">Backend Engineer</a></li>
      <li><a href="#">Marketing Manager</a></li>
    </ul>
  </aside>

  <section class="col-md-10">
    <div class="dashboard-content__content">
      <div class="col-md-8 c-card">
        <div class="container c-form-full offset-md-2 col-8">
          <div class="c-form-full__title text-center my-3 mb-5">Lengkapi Profile Perusahaan Anda</div>
          <form>
            <div class="form-group">
              <label>Company Name</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label>Company Legal Name</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label>Address</label>
              <textarea class="form-control" rows="4"></textarea>
            </div>
            <div class="form-group">
              <label>Company Website</label>
              <input type="url" class="form-control">
            </div>
            <div class="form-group">
              <label>Phone Number</label>
              <input type="number" class="form-control" min="0">
            </div>
            <div class="form-group">
              <label>Company Size</label>
              <select class="form-control">
                <option selected disabled></option>
                <option>1</option>
                <option>2</option>
              </select>
            </div>
            <div class="form-group">
              <label>Industry</label>
              <input type="text" class="form-control">
            </div>
            <div class="text-center">
              <button type="submit" class="c-button-main">Kirim</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
