<link href="https://fonts.googleapis.com/css?family=Montserrat:400,600" rel="stylesheet">
<link 
  rel="stylesheet" 
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
  crossorigin="anonymous">
<link 
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" 
  rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" 
  crossorigin="anonymous">
<link 
  rel="stylesheet" 
  type="text/css" 
  href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<!-- additional -->
<link 
  rel="stylesheet" 
  href="style/onlinetest.css" 
  type="text/css" 
  media="all" />


<section class="onlinetest onlinetest__header--lg">
  <div class="headTagLine d-flex align-items-center">
    <div class="container onlinetest__tagline">
      HASIL TEST <b>HTML 5</b>
    </div>
  </div>
  <div class="container l-onlinetest__content">
    <div class="c-card-result col-lg-8 offset-lg-2">
      <h4 class="h4">Skor Anda</h4>
      <p class="c-card-result__score">85</p>
      <div class="c-card-result__data">
        <p>Jumlah soal</p>
        <p>20</p>
        <p>Jumlah jawaban yang Benar</p>
        <p>17</p>
        <p>Jumlah jawaban yang Salah</p>
        <p>3</p>
      </div>
      <p>Anda mendapatkan Badges!</p>
      <img class="my-3" src="img/skills/badge1.png">
      <p class="c-card-result__guidance">Badges berlaku selama selama 6 bulan setelah menyelesaikan test</p>
    </div>
    <div class="text-center mt-5">
      <a href="#" class="c-button-main c-button--long">SELESAI</a>
    </div>
  </div>
</section>



<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>