<!-- <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" /> -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,600" rel="stylesheet">
<link 
  rel="stylesheet" 
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
  crossorigin="anonymous">
<link 
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" 
  rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" 
  crossorigin="anonymous">
<link 
  rel="stylesheet" 
  type="text/css" 
  href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link 
  rel="stylesheet" 
  href="style/blog.css" 
  type="text/css" 
  media="all" />

<header>
  <div class="navmenu-container navmenu-container--dark">
    <div class="container">
      <nav class="navmenu">
        <div class="navmenu__logo">
          <a href="/" title="Ekrut.com">
            <div class="logo">
              <h1>
                <div class="logo__image--white"></div>
                <span class="logo__text">Ekrut.com</span>
              </h1>
            </div>
          </a>
        </div>

        <div class="navmenu__list">
          <div class="navmenu__list__icon--bar">
            <i class="fa fa-bars" aria-hidden="true"></i>
          </div>

          <div class="menu">
            <div class="navmenu__list__icon--close">
              <i class="fa fa-times-circle" aria-hidden="true"></i>
            </div>
            <ul>
              <!-- <li class="menu-dropdown">
                <button class="menu-dropdown__button">Employers <i class="fa fa-angle-down" aria-hidden="true"></i></button>
                <ul class="menu-dropdown__list">
                  <li><a href="#" title="Marketplace">Marketplace</a></li>
                  <li><a href="#" title="Headhunting">Headhunting</a></li>
                  <li><a href="#" title="Pricing">Pricing</a></li>
                </ul>
              </li> -->
              <li> <a href="/employers/how-it-works" title="Employers">Employers</a></li>
              <li><a href="http://blog.ekrut.com" title="Blog">Blog</a></li>
              <li><a href="/login" title="Login">Login</a></li>
              <li><a href="/signup" title="Sign Up" class="button">Sign Up</a></li>
            </ul>
          </div>
        </div>

        <div class="clearfix"></div>
      </nav>
    </div>
  </div>
</header>

<section>
  <div class="container">
    <!-- <div class="row">
      <ul class="col-md-9">
        <li class="active">Career Tips</li>
        <li><a href="#">Career Trends</a></li>
        <li><a href="#">Hiring Tips</a></li>
      </ul>
      <div class="col-md-3 c-search-wrapper">
        <input class="c-search" type="text" placeholder="Search This Blog">
        <button><i class="fa fa-search" aria-hidden="true"></i></button>
      </div>
    </div> -->
    <div class="crosscol">
      <div class="left">
        <ul>
          <li class="active">Career Tips</li>
          <li><a href="#">Career Trends</a></li>
          <li><a href="#">Hiring Tips</a></li>
        </ul>
        <div class="clearfix"></div>
      </div>
      
      <div class="right">
        <div class="searchBox">
          <input class="textArea" type="text" placeholder="Search This Blog">
          <button><i class="fa fa-search" aria-hidden="true"></i></button>
        </div>
      </div>
      
      <div class="clearfix"></div>
    </div>
    <div class="row">
      <div class="col-12 col-xs-6 col-lg-6 mb-md-3">
        <a href="#">
          <div class="blog-list__img blog-list__img--highlight">
            <img src="http://blog.ekrut.com/wp-content/uploads/2018/03/Depositphotos_29270411_l-2015-1-1024x682-696x464.jpg">
            <div class="blog-list__img__caption">
              <div class="blog-list__img__title">Yang Dilakukan Orang Sukses di 3 Bulan Masa Probation</div>
              <div class="blog-list__img__meta">
                By <strong>Widyanto Gunadi</strong> - January 23, 2018
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-12 col-xs-6 col-lg-3">
        <a href="#">
          <div class="blog-list__img">
            <img src="http://blog.ekrut.com/wp-content/uploads/2018/03/Depositphotos_29270411_l-2015-1-1024x682-696x464.jpg">
            <div class="blog-list__img__caption">
              <div class="blog-list__img__title">Yang Dilakukan Orang Sukses di 3 Bulan Masa Probation</div>
              <div class="blog-list__img__meta">
                By <strong>Widyanto Gunadi</strong> - January 23, 2018
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-12 col-xs-6 col-lg-3">
        <a href="#">
          <div class="blog-list__img">
            <img src="http://blog.ekrut.com/wp-content/uploads/2018/03/Depositphotos_29270411_l-2015-1-1024x682-696x464.jpg">
            <div class="blog-list__img__caption">
              <div class="blog-list__img__title">Yang Dilakukan Orang Sukses di 3 Bulan Masa Probation</div>
              <div class="blog-list__img__meta">
                By <strong>Widyanto Gunadi</strong> - January 23, 2018
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="row my-3">
      <div class="col-12 col-sm-6 col-lg-4 mb-3 mb-lg-1">
        <a href="#">
          <div class="blog-list__img">
            <img src="http://blog.ekrut.com/wp-content/uploads/2018/03/Depositphotos_29270411_l-2015-1-1024x682-696x464.jpg">
            <div class="blog-list__img__caption">
              <div class="blog-list__img__title">Yang Dilakukan Orang Sukses di 3 Bulan Masa Probation</div>
              <div class="blog-list__img__meta">
                By <strong>Widyanto Gunadi</strong> - January 23, 2018
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-lg-4 mb-3 mb-lg-1">
        <a href="#">
          <div class="blog-list__img">
            <img src="http://blog.ekrut.com/wp-content/uploads/2018/03/Depositphotos_29270411_l-2015-1-1024x682-696x464.jpg">
            <div class="blog-list__img__caption">
              <div class="blog-list__img__title">Yang Dilakukan Orang Sukses di 3 Bulan Masa Probation</div>
              <div class="blog-list__img__meta">
                By <strong>Widyanto Gunadi</strong> - January 23, 2018
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-lg-4 mb-3 mb-lg-1">
        <a href="#">
          <div class="blog-list__img">
            <img src="http://blog.ekrut.com/wp-content/uploads/2018/03/Depositphotos_29270411_l-2015-1-1024x682-696x464.jpg">
            <div class="blog-list__img__caption">
              <div class="blog-list__img__title">Yang Dilakukan Orang Sukses di 3 Bulan Masa Probation</div>
              <div class="blog-list__img__meta">
                By <strong>Widyanto Gunadi</strong> - January 23, 2018
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-lg-4 mb-3 mb-lg-1">
        <a href="#">
          <div class="blog-list__img">
            <img src="http://blog.ekrut.com/wp-content/uploads/2018/03/Depositphotos_29270411_l-2015-1-1024x682-696x464.jpg">
            <div class="blog-list__img__caption">
              <div class="blog-list__img__title">Yang Dilakukan Orang Sukses di 3 Bulan Masa Probation</div>
              <div class="blog-list__img__meta">
                By <strong>Widyanto Gunadi</strong> - January 23, 2018
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-lg-4 mb-3 mb-lg-1">
        <a href="#">
          <div class="blog-list__img">
            <img src="http://blog.ekrut.com/wp-content/uploads/2018/03/Depositphotos_29270411_l-2015-1-1024x682-696x464.jpg">
            <div class="blog-list__img__caption">
              <div class="blog-list__img__title">Yang Dilakukan Orang Sukses di 3 Bulan Masa Probation</div>
              <div class="blog-list__img__meta">
                By <strong>Widyanto Gunadi</strong> - January 23, 2018
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-lg-4 mb-3 mb-lg-1">
        <div class="blog-list__img">
          <img src="http://blog.ekrut.com/wp-content/uploads/2018/03/Depositphotos_29270411_l-2015-1-1024x682-696x464.jpg">
          <div class="blog-list__img__caption text-center s-caption">
            Bergabung dengan EKRUT dan dapatkan pekerjaan impianmu!
            <a class="c-button-main mt-3">DAFTAR SEKARANG</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <nav aria-label="..." class="col-12 my-5">
        <ul class="pagination">
          <li class="page-item disabled">
            <span class="page-link">Previous</span>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item active">
            <span class="page-link">
              2
              <span class="sr-only">(current)</span>
            </span>
          </li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</section>



<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>