<!-- <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" /> -->
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="style/dashboard.css" type="text/css" media="all" />


<div class="row no-gutters">
  <aside class="col-md-2 dashboard-sidebar">
    <ul>
      <li class="active"><a href="#"><i class="fa fa-plus-circle text-info fa-lg" aria-hidden="true"></i> Create Position</a></li>
      <li><a href="#">Software Engineer</a></li>
      <li><a href="#">Backend Engineer</a></li>
      <li><a href="#">Marketing Manager</a></li>
    </ul>
  </aside>

  <section class="col-md-10">
    <div class="container-fluid">
      <div class="row dashboard-content__content">
        <div class="c-card col-md-12 p-0">
          <h2 class="dashboard-content__title l-dashboard-padding">Create New Position</h2>
          <div class="row l-dashboard-padding l-dashboard-text">
            <div class="col-md-5">
              <p class="u-bold">Position</p>
              <input class="form-control c-input" type="text" placeholder="Position Name">
              <p class="u-bold">Budget</p>
              <div class="row">
                <div class="col-6">
                  <input class="form-control c-input" type="text" placeholder="Min Budget">
                </div>
                <div class="col-6">
                  <input class="form-control c-input" type="text" placeholder="Max Budget">
                </div>
              </div>
            </div>
            <div class="col-md-5 offset-md-2">
              <p class="u-bold">Category</p>
              <select class="form-control c-select mb-4">
                <option selected disabled>Pick Position Category</option>
              </select>
              <p class="u-bold">Level</p>
              <select class="form-control c-select mb-4">
                <option selected disabled>Pick Position Level</option>
              </select>
            </div>
            <div class="col-md-12">
              <p class="u-bold">Position Description</p>
              <textarea class="c-textarea" rows="5"></textarea>
            </div>
            <div class="col-12 text-md-right mt-3">
              <button class="c-button-main">SAVE</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>



<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>