<!-- <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" /> -->
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="style/dashboard.css" type="text/css" media="all" />


<div class="row no-gutters">
  <aside class="col-md-2 dashboard-sidebar">
    <button class="dashboard-sidebar__create">
      <i class="fa fa-plus-circle text-info fa-lg align-self-center" aria-hidden="true"></i> 
      <div class="dashboard-sidebar__create__title">Create Position</div>
    </button>
    <ul class="dashboard-sidebar__list">
      <li><a href="#">Software Engineer</a></li>
      <li><a href="#">Backend Engineer</a></li>
      <li><a href="#">Backend Engineer</a></li>
      <li><a href="#">Marketing Manager</a></li>
    </ul>
  </aside>

  <section class="col-md-10">
    <div class="container-fluid">
      <div class="row dashboard-content__content">
        <div class="l-row-12 col-lg-3">
          <div class="l-employer-activity l-row-6">
            <div class="c-card c-card--vertical">
              <div class="c-card-title">
                Upcoming Interview
              </div>
              <div class="c-card__header mt-2">
                <img class="c-card__candidate-photo c-card__candidate-photo--small float-left" src="img/author.jpg">
                <div class="c-card__candidate mt-2">Satria Febrianto</div>
                <div class="c-card__candidate-preference mt-1">
                  Front End Developer
                </div>
              </div>
              <div class="c-card__content">
                <p class="mb-1">20-20-2018, 11:00 PM</p>
                <p>Jakarta</p>
                <hr>
              </div>
            </div>
          </div>
          <div class="l-employer-activity l-row-6">
            <div class="c-card c-card--vertical">
              <div class="c-card-title">
                Final Offer
                <div class="c-notification c-notification__top-right">1</div>
              </div>
              <div class="row align-items-center no-gutters c-card__header mt-2">
                <div class="col-3">
                  <img class="c-card__candidate-photo c-card__candidate-photo--small img-fluid float-left" src="img/author.jpg">
                </div>
                <div class="col-6">
                  <div class="c-card__candidate mt-2">Andika Bagus</div>
                  <div class="c-card__candidate-preference mt-1">
                    UI/UX Designer
                  </div>
                </div>
                <div class="col-3 c-card__candidate-actions">
                  <div class="row no-gutters">
                    <button class="c-icon-main u-icon-margin fa fa-check-circle u-fa-medium text-success"></button>
                    <button class="c-icon-main u-icon-margin fa fa-times-circle u-fa-medium text-danger"></button>
                  </div>
                </div>
              </div>
              <hr>
            </div>
          </div>
        </div>
        <div class="l-row-12 col-lg-9">
          <div class="l-employer-activity l-row-3 mt-5 mt-lg-0">
            <div class="c-card">
              <div class="row mb-3 align-items-center">
                <div class="col-7 col-md-10">
                  <input class="c-input" placeholder="Talent Name">
                </div>
                <div class="col-5 col-md-2">
                  <button class="c-button-main c-button--full">Search</button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <select class="form-control c-select mb-2">
                    <option selected disabled>Status</option>
                  </select>
                </div>
                <div class="col-md-6">
                  <select class="form-control c-select mb-2">
                    <option selected disabled>Position</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="l-employer-activity l-employer-activity__schedule l-row-9">
            <div class="c-card">
              <div class="c-card-title mb-3">
                Need Scheduling / Decission
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="l-overflow-xxs-x">
                    <table class="c-table c-control">
                      <thead>
                        <tr>
                          <th>Talent Name</th>
                          <th>Position</th>
                          <th>Status</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Andika Bagus Badrudin</td>
                          <td>UI/UX Designer</td>
                          <td>No Interview</td>
                          <td>
                            <div class="dropdown show">
                              <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-bars"></i>
                              </a>

                              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="#">Accept</a>
                                <a class="dropdown-item" href="#">Request Interview</a>
                                <a class="dropdown-item" href="#">Re-schedule</a>
                              </div>
                            </div>
                          </td>
                          <!-- <td class="u-fa-medium">
                            <button class="c-icon-main fa fa-check-circle text-success"></button>
                            <button class="c-icon-main fa fa-times-circle text-danger"></button>
                          </td> -->
                        </tr>
                        <tr>
                          <td>Andika Bagus Badrudin</td>
                          <td>UI/UX Designer</td>
                          <td>No Interview</td>
                          <td>
                            <div class="dropdown show">
                              <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-bars"></i>
                              </a>

                              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="#">Accept</a>
                                <a class="dropdown-item" href="#">Request Interview</a>
                                <a class="dropdown-item" href="#">Re-schedule</a>
                              </div>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>



<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>