<link href="https://fonts.googleapis.com/css?family=Montserrat:400,600" rel="stylesheet">
<link 
  rel="stylesheet" 
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
  crossorigin="anonymous">
<link 
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" 
  rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" 
  crossorigin="anonymous">
<link 
  rel="stylesheet" 
  type="text/css" 
  href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<!-- additional -->
<link 
  rel="stylesheet" 
  href="node_modules/hopscotch/dist/css/hopscotch.min.css" 
  type="text/css" 
  media="all" />
<link 
  rel="stylesheet" 
  href="style/onlinetest.css" 
  type="text/css" 
  media="all" />
<style type="text/css">
  div.hopscotch-bubble h3{
    margin-top: 6px;
  }
</style>


<section class="onlinetest">
  <div class="headTagLine d-flex align-items-center">
    <div class="container onlinetest__tagline onlinetest__tagline--question col-lg-6 offset-lg-3">
      <div class="row no-gutters">
        <div class="col-6 onlinetest__question-header text-left">
          <b>HTML 5</b> <span class="ml-sm-3 c-tag-label__item --sm --light">Level 1</span>
          <div class="onlinetest__question-header__desc" id="js-step1">20 SOAL | 20 MENIT</div>
        </div>
        <div class="col-6 onlinetest__time text-right">
          <div class="onlinetest__time__wrapper">
            <div id="js-step4" class="onlinetest__time__header">
              SISA WAKTU
            </div>
            <div id="testTimer" class="onlinetest__time__content">
              <!-- 19:58 -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container l-onlinetest__content">
    <div class="onlinetest_question-number">Soal 1/20</div>
    <div class="c-card-result col-lg-8 offset-lg-2">
      <p id="js-step2" class="h5 u-title">Which HTML attribute specifies an alternate text for an image, if the image cannot be displayed?</p>
      <ul id="js-step3" class="onlinetest__option-text my-4">
        <li>
          <input type="radio" id="option1" name="option">
          <label for="option1">alt</label>
          <div class="check"><i class="fa fa-check-circle"></i></div>
        </li>
        <li>
          <input type="radio" id="option2" name="option">
          <label for="option2">title</label>
          <div class="check"><i class="fa fa-check-circle"></i></div>
        </li>
        <li>
          <input type="radio" id="option3" name="option">
          <label for="option3">source</label>
          <div class="check"><i class="fa fa-check-circle"></i></div>
        </li>
        <li>
          <input type="radio" id="option4" name="option">
          <label for="option4">longdesc</label>
          <div class="check"><i class="fa fa-check-circle"></i></div>
        </li>
      </ul>
      <button class="c-button-main c-button--long d-block mx-auto">SELANJUTNYA</button>
    </div>
    <div class="text-center my-5">
      <div class="onlinetest__footer-note">
        Anda tidak dapat kesempatan untuk mengulang pertanyaan, Harap perhatikan jawaban Anda sebelum ke soal berikutnya
      </div>
    </div>
  </div>
</section>



<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!-- additional -->
<script src="node_modules/hopscotch/dist/js/hopscotch.min.js"></script>


<script type="text/javascript">
  function testTimer() {
    var durInit = 20; // in minute
    var durS = 20 * 60;
    var timeM = durS / 60;
    timeM--;
    var timeS = 0;
    document.getElementById("testTimer").innerHTML = timeM + ':' + timeS;
  }


  // Define the tour!
  var tour = {
    id: "hopscotch",
    steps: [
      {
        title: "Jumlah Soal.",
        content: "",
        target: "js-step1",
        placement: "bottom"
      },
      {
        title: "Soal.",
        content: "",
        target: document.querySelector("#js-step2"),
        placement: "bottom"
      },
      {
        title: "Pilihan Jawaban.",
        content: "",
        target: document.querySelector("#js-step3"),
        placement: "bottom"
      },
      {
        title: "Sisa waktu pengerjaan.",
        content: "",
        target: document.querySelector("#js-step4"),
        placement: "left"
      }
    ],
    onEnd: function() {
      console.log('end');
    }
  };
  // Start the tour!
  hopscotch.startTour(tour);

  testTimer();

</script>