<link href="https://fonts.googleapis.com/css?family=Montserrat:400,600" rel="stylesheet">
<link 
  rel="stylesheet" 
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
  crossorigin="anonymous">
<link 
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" 
  rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" 
  crossorigin="anonymous">
<link 
  rel="stylesheet" 
  type="text/css" 
  href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<!-- additional -->
<link 
  rel="stylesheet" 
  href="style/onlinetest.css" 
  type="text/css" 
  media="all" />


<section class="onlinetest">
  <div class="headTagLine pb-5">
    <div class="container onlinetest__tagline">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb--light">
          <li class="breadcrumb-item"><a href="#">All test</a></li>
          <li class="breadcrumb-item active" aria-current="page">Badges</li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="container l-onlinetest__content">
    <div class="row mb-4">
      <div class="col-12 d-inline-block text-center">
        <img class="onlinetest__profile mb-3" src="img/profile.jpg">
        <p class="font-weight-bold h5">Halo, Puji</p>
        <p class="u-text-description">24 Tahun, Fullstack Developer</p>
      </div>
    </div>
    <div class="row u-xss-px mb-5">
      <div class="c-card-title onlinetest__tag-title">
        Badges
      </div>
      <div class="c-card c-card--lg col-12 l-overflow-x">
        <table class="onlinetest__badges-table u-text-sm">
          <tr>
            <th>Badges</th>
            <th>Test</th>
            <th>Date</th>
            <th>Duration</th>
            <th>Status</th>
          </tr>
          <tr>
            <td><img class="img-fluid" src="img/skills/badge1.png"></td>
            <td>Java Programming</td>
            <td>26/2/2018<a class="s-button-expired" href="#">you can retake exam</a></td>
            <td>6 Bulan</td>
            <td>Aktif</td>
          </tr>
          <tr>
            <td><img class="img-fluid" src="img/skills/badge1.png"></td>
            <td>Mandarin Language</td>
            <td>26/2/2018</td>
            <td>6 Bulan</td>
            <td>Aktif</td>
          </tr>
          <tr>
            <td><img class="img-fluid" src="img/skills/badge1.png"></td>
            <td>English Language</td>
            <td>26/2/2017</td>
            <td>6 Bulan</td>
            <td>Expired</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</section>



<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>