<!-- <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" /> -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,600" rel="stylesheet">
<link 
  rel="stylesheet" 
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
  crossorigin="anonymous">
<link 
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" 
  rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" 
  crossorigin="anonymous">
<link 
  rel="stylesheet" 
  type="text/css" 
  href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link 
  rel="stylesheet" 
  href="https://cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.6/css/lightslider.min.css" 
  type="text/css"/>
<link 
  rel="stylesheet" 
  href="style/blog.css" 
  type="text/css" 
  media="all" />

<header>
  <div class="navmenu-container navmenu-container--dark">
    <div class="container">
      <nav class="navmenu">
        <div class="navmenu__logo">
          <a href="/" title="Ekrut.com">
            <div class="logo">
              <h1>
                <div class="logo__image--white"></div>
                <span class="logo__text">Ekrut.com</span>
              </h1>
            </div>
          </a>
        </div>

        <div class="navmenu__list">
          <div class="navmenu__list__icon--bar">
            <i class="fa fa-bars" aria-hidden="true"></i>
          </div>

          <div class="menu">
            <div class="navmenu__list__icon--close">
              <i class="fa fa-times-circle" aria-hidden="true"></i>
            </div>
            <ul>
              <!-- <li class="menu-dropdown">
                <button class="menu-dropdown__button">Employers <i class="fa fa-angle-down" aria-hidden="true"></i></button>
                <ul class="menu-dropdown__list">
                  <li><a href="#" title="Marketplace">Marketplace</a></li>
                  <li><a href="#" title="Headhunting">Headhunting</a></li>
                  <li><a href="#" title="Pricing">Pricing</a></li>
                </ul>
              </li> -->
              <li> <a href="/employers/how-it-works" title="Employers">Employers</a></li>
              <li><a href="http://blog.ekrut.com" title="Blog">Blog</a></li>
              <li><a href="/login" title="Login">Login</a></li>
              <li><a href="/signup" title="Sign Up" class="button">Sign Up</a></li>
            </ul>
          </div>
        </div>

        <div class="clearfix"></div>
      </nav>
    </div>
  </div>
</header>

<section class="blog-detail">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb--default">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Work-Life Balance</a></li>
        <li class="breadcrumb-item active" aria-current="page">Selamat Jalan, Ingvar Kamprad: Fakta – Fakta Menarik Seputar IKEA</li>
      </ol>
    </nav>
    <div class="row">
      <div class="col-md-9 blog-detail__post">
        <div class="blog-detail__header">
          <div class="blog-detail__title">
            Selamat Jalan, Ingvar:<br>
            Fakta - Fakta menarik seputar IKEA
          </div>
          <div class="blog-detail__meta my-2">By <b>Widyanto Gunadi</b> - January 29, 2018</div>
          <div class="blog-detail__view"><i class="fa fa-eye mr-2"></i>100 Views</div>
        </div>
        <img class="img-fluid" src="img/blog-post-lg__1.jpg">
        <div class="blog-detail__article">
          Untuk banyak orang
          Konsep IKEA dimulai dengan ide menyediakan berbagai produk perabotan rumah yang terjangkau bukan hanya untuk beberapa orang tapi bagi banyak orang. Hal ini dicapai dengan menggabungkan fungsi, kualitas, desain dan nilai - selalu dengan pemikiran kesinambungan. Konsep IKEA ada di setiap bagian dari perusahaan kami, dari desain, sumber daya, pengepakan dan distribusi melalui model bisnis kami. Tujuan kami adalah untuk membantu lebih banyak orang menjalani kehidupan yang lebih baik di rumah.
          Membawa konsep IKEA ke dalam kehidupan
          Konsep IKEA hidup dalam banyak cara: Melalui toko kami di seluruh dunia, dalam katalog IKEA, melalui situs dan aplikasi, dan yang paling penting dalam jutaan rumah di seluruh dunia.
        </div>
        <div class="blog-detail__source my-4">
          <div class="h4">Sumber Artikel :</div>
          <div class="blog-detail__source__link">
            <a href="#">http://www.ikea.com/ms/in_ID/this-is-ikea/the-ikea-concept/index.html</a>
          </div>
          <div class="h4 mt-4">Sumber Gambar :</div>
          <div class="blog-detail__source__img">
            <a href="#">http://www.ikea.com/ms/in_ID/this-is-ikea/the-ikea-concept/index.html</a>
          </div>
        </div>
        <div class="share">
          <span class="title">
            SHARE
          </span>
          <span class="social fb">
            <a href="#"><i class="fa fa-facebook-f" aria-hidden="true"></i></a>
          </span>
          <span class="social thumbs-up">
            <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a>
          </span>
          <span class="social tw">
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          </span>
          <span class="social gp">
            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
          </span>
          <span class="social pi">
            <a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
          </span>
        </div>
        <div class="prevNext">
          <div class="prev">
            <div class="title">
              Previous Article
            </div>
            <a href="#">
              Tips Tertidur Lebih Cepat Agar Tidak Terlambat ke Kantor
            </a>
          </div>
          <div class="next">
            <div class="title">
              Next Article
            </div>
            <a href="#">
              Starbucks Ingin Terapkan Pembayaran Cryptocurrency, Namun Bukan Bitcoin
            </a>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="author">
          <div class="left">
            <div class="photo">
              <img src="img/author.jpg">
            </div>
          </div>
          <div class="right">
            <div class="title">
              Tentang Penulis
            </div>
            <div class="subtitle">
              Widyanto Gunadi
            </div>
            <div class="description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin maximus commodo tellus, et imperdiet justo eleifend et. Mauris vel est purus. Nunc iaculis placerat neque ut pellentesque. Donec in pretium enim. Aliquam fringilla et lacus sed auctor.
            </div>
            <div class="shareAuthor">
              <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a> <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a> <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="relatedArticles">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="related-tab" data-toggle="tab" href="#related" role="tab" aria-controls="related" aria-selected="true">Related Articles</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" id="more-tab" data-toggle="tab" href="#more" role="tab" aria-controls="more" aria-selected="false">More From Author</a>
            </li>
          </ul>

          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="related" role="tabpanel" aria-labelledby="related-tab">
              <div class="slider">
                <div class="lSSlideOuter "><div class="lSSlideWrapper usingCss"><ul id="content-slider" class="content-slider related lightSlider lsGrab lSSlide" style="width: 1570px; height: 180px; padding-bottom: 0%; transform: translate3d(0px, 0px, 0px);">
                  <li class="lslide active" style="width: 251.667px; margin-right: 10px;">
                    <a href="#">
                      <img src="img/related-250x180.jpg">
                      <div class="caption">
                        Starbucks Ingin Terapkan Pembayaran Cryptocurrency, Namun Bukan Bitcoin
                      </div>
                    </a>
                  </li>
                  <li class="lslide" style="width: 251.667px; margin-right: 10px;">
                    <a href="#">
                      <img src="img/related-250x180.jpg">
                      <div class="caption">
                        Starbucks Ingin Terapkan Pembayaran Cryptocurrency, Namun Bukan Bitcoin
                      </div>
                    </a>
                  </li>
                  <li class="lslide" style="width: 251.667px; margin-right: 10px;">
                    <a href="#">
                      <img src="img/related-250x180.jpg">
                      <div class="caption">
                        Starbucks Ingin Terapkan Pembayaran Cryptocurrency, Namun Bukan Bitcoin
                      </div>
                    </a>
                  </li>
                  <li class="lslide" style="width: 251.667px; margin-right: 10px;">
                    <a href="#">
                      <img src="img/related-250x180.jpg">
                      <div class="caption">
                        Starbucks Ingin Terapkan Pembayaran Cryptocurrency, Namun Bukan Bitcoin
                      </div>
                    </a>
                  </li>
                  <li class="lslide" style="width: 251.667px; margin-right: 10px;">
                    <a href="#">
                      <img src="img/related-250x180.jpg">
                      <div class="caption">
                        Starbucks Ingin Terapkan Pembayaran Cryptocurrency, Namun Bukan Bitcoin
                      </div>
                    </a>
                  </li>
                  <li class="lslide" style="width: 251.667px; margin-right: 10px;">
                    <a href="#">
                      <img src="img/related-250x180.jpg">
                      <div class="caption">
                        Starbucks Ingin Terapkan Pembayaran Cryptocurrency, Namun Bukan Bitcoin
                      </div>
                    </a>
                  </li>
                </ul></div></div>
                
                <div class="navSlider">
                  <div class="naSliderContent">
                    <div class="prev">
                      <i class="fa fa-angle-left" aria-hidden="true"></i>
                    </div>
                    
                    <div class="next">
                      <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </div>
                    
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="more" role="tabpanel" aria-labelledby="more-tab">
              <div class="slider">
                <div class="lSSlideOuter "><div class="lSSlideWrapper usingCss"><ul id="content-slider" class="content-slider more lightSlider lsGrab lSSlide" style="width: 20px; height: 180px; padding-bottom: 0%; transform: translate3d(0px, 0px, 0px);">
                  <li class="lslide active" style="width: 0px; margin-right: 10px;">
                    <a href="#">
                      <img src="img/related-250x180.jpg">
                      <div class="caption">
                        Starbucks Ingin Terapkan Pembayaran Cryptocurrency, Namun Bukan Bitcoin
                      </div>
                    </a>
                  </li>
                  <li class="lslide" style="width: 0px; margin-right: 10px;">
                    <a href="#">
                      <img src="img/related-250x180.jpg">
                      <div class="caption">
                        Starbucks Ingin Terapkan Pembayaran Cryptocurrency, Namun Bukan Bitcoin
                      </div>
                    </a>
                  </li>
                  <li class="lslide" style="width: 0px; margin-right: 10px;">
                    <a href="#">
                      <img src="img/related-250x180.jpg">
                      <div class="caption">
                        Starbucks Ingin Terapkan Pembayaran Cryptocurrency, Namun Bukan Bitcoin
                      </div>
                    </a>
                  </li>
                  <li class="lslide" style="width: 0px; margin-right: 10px;">
                    <a href="#">
                      <img src="img/related-250x180.jpg">
                      <div class="caption">
                        Starbucks Ingin Terapkan Pembayaran Cryptocurrency, Namun Bukan Bitcoin
                      </div>
                    </a>
                  </li>
                  <li class="lslide" style="width: 0px; margin-right: 10px;">
                    <a href="#">
                      <img src="img/related-250x180.jpg">
                      <div class="caption">
                        Starbucks Ingin Terapkan Pembayaran Cryptocurrency, Namun Bukan Bitcoin
                      </div>
                    </a>
                  </li>
                  <li class="lslide" style="width: 0px; margin-right: 10px;">
                    <a href="#">
                      <img src="img/related-250x180.jpg">
                      <div class="caption">
                        Starbucks Ingin Terapkan Pembayaran Cryptocurrency, Namun Bukan Bitcoin
                      </div>
                    </a>
                  </li>
                </ul></div></div>
                
                <div class="navSlider">
                  <div class="naSliderContent">
                    <div class="prev">
                      <i class="fa fa-angle-left" aria-hidden="true"></i>
                    </div>
                    
                    <div class="next">
                      <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </div>
                    
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 blog-detail__aside px-5 px-sm-0">
        <div class="c-cta-join text-center mt-1 mb-3">
          <div class="c-cta-join__title">Bergabung dengan EKRUT</div>
          <hr class="c-cta-join__line mt-2 mb-3">
          <div class="c-cta-desc px-2">Bergabung dengan EKRUT dan dapatkan pekerjaan impianmu!</div>
          <button class="c-button-main c-button--shadow mt-3">Daftar Sekarang</button>
        </div>
      </div>
    </div>
  </div>
</section>



<script 
    type="text/javascript" 
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script 
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" 
    crossorigin="anonymous"></script>
<script 
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
    crossorigin="anonymous"></script>
<script 
    src="https://cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.6/js/lightslider.min.js"></script>

<script>
// slider script - blog page only
$(document).ready(function() {
  var sliderRelated = $(".content-slider.related").lightSlider({
    loop:false,
    pager:false,
    controls:false,
    keyPress:true
  });
  $('.navSlider .prev').click(function(){
    sliderRelated.goToPrevSlide(); 
  });
  $('.navSlider .next').click(function(){
    sliderRelated.goToNextSlide(); 
  });
  
  var sliderMore = $(".content-slider.more").lightSlider({
    loop:false,
    pager:false,
    controls:false,
    keyPress:true
  });
  $('.navSlider .prev').click(function(){
    sliderMore.goToPrevSlide(); 
  });
  $('.navSlider .next').click(function(){
    sliderMore.goToNextSlide(); 
  });

  // slider script - Load function on tab
  $('.relatedArticles .nav-tabs .nav-item a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
    var sliderRelated = $(".content-slider.related").lightSlider({
      loop:false,
      pager:false,
      controls:false,
      keyPress:true
    });
    $('.navSlider .prev').click(function(){
      sliderRelated.goToPrevSlide(); 
    });
    $('.navSlider .next').click(function(){
      sliderRelated.goToNextSlide(); 
    });
    
    var sliderMore = $(".content-slider.more").lightSlider({
      loop:false,
      pager:false,
      controls:false,
      keyPress:true
    });
    $('.navSlider .prev').click(function(){
      sliderMore.goToPrevSlide(); 
    });
    $('.navSlider .next').click(function(){
      sliderMore.goToNextSlide(); 
    });
  })
});
</script>