<link href="https://fonts.googleapis.com/css?family=Montserrat:400,600" rel="stylesheet">
<link 
    rel="stylesheet" 
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
    crossorigin="anonymous">
<link 
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" 
    rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" 
    crossorigin="anonymous">
<link 
    rel="stylesheet" 
    type="text/css" 
    href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link 
    rel="stylesheet" 
    href="style/dashboard.css" 
    type="text/css" 
    media="all" />

<style type="text/css">
.s-onboarding__profile{
  font-size: 14px;
}
.s-onboarding__profile .c-card__section:after{
  content: '';
  display: block;
  width: 104%;
  border-bottom: 2px solid #d8d8d8;
  margin: 1em -2%;
}
.s-onboarding__profile .c-card__subcontent__key,
.s-onboarding__profile .c-card__subcontent__value{
padding: 0.75em 0;
}
</style>

<section>
  <div class="container s-onboarding__profile">
    <div class="c-card__section text-center h3">Pratinjau Profil</div>
    
    <div class="c-card__section row no-gutters">
      <div class="col-12 h5 mb-3 font-weight-bold">Informasi Pribadi</div>
      <div class="col-md-3 c-card__subcontent__key">Nama Lengkap</div>
      <div class="col-md-9 c-card__subcontent__value">Andika Bagus Badrudin</div>
      <div class="col-md-3 c-card__subcontent__key">Email</div>
      <div class="col-md-9 c-card__subcontent__value">andikabgs90@gmail.com</div>
      <div class="col-md-3 c-card__subcontent__key">Nomor Telepon</div>
      <div class="col-md-9 c-card__subcontent__value">+62 812 8614 0081</div>
      <div class="col-md-3 c-card__subcontent__key">Domisili</div>
      <div class="col-md-9 c-card__subcontent__value">Bogor</div>
    </div>
    <div class="c-card__section row no-gutters">
      <div class="col-12 h5 mb-3 font-weight-bold">Tautan</div>
      <div class="col-md-3 c-card__subcontent__key">Linkedin</div>
      <div class="col-md-3 c-card__subcontent__value">http://linkedin/in/andika</div>
      <div class="col-md-3 c-card__subcontent__key">Github</div>
      <div class="col-md-3 c-card__subcontent__value">Andika Bagus Badrudin</div>
      <div class="col-md-3 c-card__subcontent__key">Stack Overflow</div>
      <div class="col-md-3 c-card__subcontent__value">Andika Bagus Badrudin</div>
      <div class="col-md-3 c-card__subcontent__key">Dribble</div>
      <div class="col-md-3 c-card__subcontent__value">Bogor</div>
      <div class="col-md-3 c-card__subcontent__key">Behance</div>
      <div class="col-md-3 c-card__subcontent__value">Behance</div>
      <div class="col-md-3 c-card__subcontent__key">Web / Blog Pribadi</div>
      <div class="col-md-3 c-card__subcontent__value">Bogor</div>
    </div>
    <div class="c-card__section row no-gutters">
      <div class="col-12 h5 mb-3 font-weight-bold">Keahlian</div>
      <div class="col-md-3 c-card__subcontent__key">Preferensi Posisi</div>
      <div class="col-md-3 c-card__subcontent__value">Designer</div>
      <div class="col-md-3 c-card__subcontent__key">Sub Kategori Posisi</div>
      <div class="col-md-3 c-card__subcontent__value">UI / UX Designer</div>
      <div class="col-md-3 c-card__subcontent__key">Keahlian</div>
      <div class="col-md-9 c-card__subcontent__value">Bohemian Sketch, Adobe Illustrator</div>
    </div>
    <div class="c-card__section row no-gutters">
      <div class="col-12 h5 mb-3 font-weight-bold">Gaji</div>
      <div class="col-md-3 c-card__subcontent__key">Gaji Saat ini</div>
      <div class="col-md-3 c-card__subcontent__value">Rp. 10.000.000,-/bulan</div>
      <div class="col-md-3 c-card__subcontent__key">Gaji Yang Diharapkan</div>
      <div class="col-md-3 c-card__subcontent__value">Rp. 15.000.000,-/bulan</div>
    </div>
    <div class="c-card__section row no-gutters">
      <div class="col-12 h5 mb-3 font-weight-bold">Pengalaman Bekerja</div>
      <div class="col-md-3 c-card__subcontent__key">Nama Perusahaan</div>
      <div class="col-md-9 c-card__subcontent__value">Dattabot (Mediatrac)</div>
      <div class="col-md-3 c-card__subcontent__key">Posisi</div>
      <div class="col-md-9 c-card__subcontent__value">UI / UX Designer</div>
      <div class="col-md-3 c-card__subcontent__key">Mulai dari</div>
      <div class="col-md-3 c-card__subcontent__value">2017</div>
      <div class="col-md-3 c-card__subcontent__key">Sampai Dengan</div>
      <div class="col-md-3 c-card__subcontent__value">2017</div>
      <div class="col-md-3 c-card__subcontent__key">Deskripsi Pekerjaan</div>
      <div class="col-md-9 c-card__subcontent__value">Bekerja</div>
    </div>
    <div class="c-card__section row no-gutters">
      <div class="col-12 h5 mb-3 font-weight-bold">Riwayat Pendidikan</div>
      <div class="col-md-3 c-card__subcontent__key">Sekolah / Universitas</div>
      <div class="col-md-3 c-card__subcontent__value">Universitas Gunadarma</div>
      <div class="col-md-3 c-card__subcontent__key">Jurusan</div>
      <div class="col-md-3 c-card__subcontent__value">Sistem Informasi</div>
      <div class="col-md-3 c-card__subcontent__key">Nilai / IPK</div>
      <div class="col-md-9 c-card__subcontent__value">3.00</div>
      <div class="col-md-3 c-card__subcontent__key">Mulai Dari</div>
      <div class="col-md-3 c-card__subcontent__value">2011</div>
      <div class="col-md-3 c-card__subcontent__key">Sampai Dengan</div>
      <div class="col-md-3 c-card__subcontent__value">2016</div>
    </div>
    <div class="mb-5 u-description">Apabila kamu merasa profil kamu sudah sesuai, silahkan klik tombol SIMPAN. Apabila belum, silahkan klik tombol KEMBALI untuk mengubah profil kamu.</div>
    <div class="container onboarding__navigation">
      <div class="row">
        <div class="col-md-6">
          <button type="button" class="btn btn-outline-info">kembali</button>
        </div>
        <div class="col-md-6 navigation__next text-right">
          <button type="submit" class="btn btn-info navigation__next__button">lanjut</button>
        </div>
      </div>
    </div>
  </div>
</section>