<!-- <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" /> -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,600" rel="stylesheet">
<link 
    rel="stylesheet" 
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
    crossorigin="anonymous">
<link 
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" 
    rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" 
    crossorigin="anonymous">
<link 
    rel="stylesheet" 
    type="text/css" 
    href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link 
    rel="stylesheet" 
    href="style/dashboard.css" 
    type="text/css" 
    media="all" />

<section class="container pt-5">
  <div class="c-card c-card--view-talent s-talent__view-profile">
    <div class="c-card__header c-card__header--blended row text-center mb-4">
      <div class="c-card__profile-center col-12">
        <img class="mb-2 c-card__profile-center__image" src="img/author.jpg">
        <div class="mb-3 h4 c-card__profile-center__name font-weight-bold">Andika Bagus Badrudin</div>
        <div class="my-2 c-card__profile-center__work">UI/UX Designer in Freelancing</div>
        <div class="my-2 c-card__profile-center__experience">6 tahun pengalaman</div>
        <div class="mb-2">
          <i class="fa fa-circle c-card__icon text-warning" aria-hidden="true"></i>
          Accepting New Opportunity
        </div>
        <div>
          <i class="fa fa-linkedin u-fa-filled u-fa-filled--info c-card__icon"></i>
          <i class="fa fa-behance u-fa-filled u-fa-filled--info c-card__icon"></i>
        </div>
      </div>
    </div>
    <div class="c-card__content">
      <div class="c-card__section">
        <div class="c-card__section__edit">
          <a href="#"><i class="fa fa-pencil c-card__icon text-info" aria-hidden="true"></i></a>
        </div>
        <div class="c-card__subtitle row">About Me</div>
        <div class="c-card__subcontent row">
          I’m a seasoned and award-winning agency creative — a passionate leader with a proven track record for translating complex ideas into slick, successful campaigns. I’ve managed and motivated interdisciplinary teams, both as official in-house go-to gal and A-list agency hotshot. I’ve built and managed brands from the ground up, worn every hat on the rack, and leapt tall buildings in a single bound. Don’t let my clean lines and weakness for Swiss type fool you; this is all a plot for world domination, one brand at a time.
          I've worked with some pretty cool brands, including Neiman Marcus, TIGI/Toni & Guy, Bergdorf Goodman, jcpenney, Michaels, Nationwide Insurance, D Magazine, GameStop, Dreamworks, Scholastic, Direct Energy, and Dr Pepper.
        </div>
      </div>
      <div class="c-card__section">
        <div class="c-card__section__edit">
          <a href="#"><i class="fa fa-pencil c-card__icon text-info" aria-hidden="true"></i></a>
        </div>
        <div class="c-card__subtitle row">Personal Information</div>
        <div class="c-card__subcontent row">
          <div class="col-md-3 c-card__subcontent__key">Place and Date of Birth</div>
          <div class="col-9 c-card__subcontent__value">Jakarta, 23 Agustus 1990</div>
        </div>
        <div class="c-card__subcontent row">
          <div class="col-md-3 c-card__subcontent__key">Phone Number</div>
          <div class="col-9 c-card__subcontent__value">+ 62 812 8614 0081</div>
        </div>
        <div class="c-card__subcontent row">
          <div class="col-md-3 c-card__subcontent__key">Email</div>
          <div class="col-9 c-card__subcontent__value">andikabgs90@gmail.com</div>
        </div>
        <div class="c-card__subcontent row">
          <div class="col-md-3 c-card__subcontent__key">Phone Number</div>
          <div class="col-9 c-card__subcontent__value">Bogor</div>
        </div>
      </div>
      <div class="c-card__section">
        <div class="c-card__section__edit">
          <a href="#"><i class="fa fa-pencil c-card__icon text-info" aria-hidden="true"></i></a>
        </div>
        <div class="c-card__subtitle row">Skills</div>
        <div class="c-card__subcontent row">
          <div class="col-md-3 c-card__subcontent__key">UI (User Interface) Design</div>
          <div class="col-9 col-md-7 c-card__subcontent__bar align-self-center">
            <div class="progress progress--base">
              <div class="progress-bar progress-bar--base" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="col-3 col-md-2 c-card__subcontent__value align-self-center">5 Tahun</div>
        </div>
        <div class="c-card__subcontent row">
          <div class="col-md-3 c-card__subcontent__key">UX (User Experience) Design</div>
          <div class="col-9 col-md-7 c-card__subcontent__bar align-self-center">
            <div class="progress progress--base">
              <div class="progress-bar progress-bar--base" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="col-3 col-md-2 c-card__subcontent__value align-self-center">5 Tahun</div>
        </div>
      </div>
      <div class="c-card__section">
        <div class="c-card__section__edit">
          <a href="#"><i class="fa fa-pencil c-card__icon text-info" aria-hidden="true"></i></a>
        </div>
        <div class="c-card__subtitle row">Working History</div>
        <div class="c-card__section__item">
          <div class="c-card__subcontent row">
            <div class="col-md-3 c-card__subcontent__key">Company Name</div>
            <div class="col-9 c-card__subcontent__value">PT. Angin Ribut Sejahtera</div>
          </div>
          <div class="c-card__subcontent row">
            <div class="col-md-3 c-card__subcontent__key">Role</div>
            <div class="col-9 c-card__subcontent__value">UI/UX Designer</div>
          </div>
          <div class="c-card__subcontent row">
            <div class="col-md-3 c-card__subcontent__key">From</div>
            <div class="col-3 c-card__subcontent__value">2013</div>
            <div class="col-md-3 c-card__subcontent__key">To</div>
            <div class="col-3 c-card__subcontent__value">2017</div>
          </div>
          <div class="c-card__subcontent row">
            <div class="col-md-3 c-card__subcontent__key">Location</div>
            <div class="col-9 c-card__subcontent__value">Jakarta</div>
          </div>
          <div class="c-card__subcontent row">
            <div class="col-md-3 c-card__subcontent__key">Description</div>
            <div class="col-9 c-card__subcontent__value">
              I've worked with some pretty cool brands, including Neiman Marcus, TIGI/Toni & Guy, Bergdorf Goodman, jcpenney, Michaels, Nationwide Insurance, D Magazine, GameStop, Dreamworks, Scholastic, Direct Energy, and Dr Pepper.
            </div>
          </div>
        </div>
        <div class="c-card__section__item">
          <div class="c-card__subcontent row">
            <div class="col-md-3 c-card__subcontent__key">Company Name</div>
            <div class="col-9 c-card__subcontent__value">PT. Angin Ribut Sejahtera</div>
          </div>
          <div class="c-card__subcontent row">
            <div class="col-md-3 c-card__subcontent__key">Role</div>
            <div class="col-9 c-card__subcontent__value">UI/UX Designer</div>
          </div>
          <div class="c-card__subcontent row">
            <div class="col-md-3 c-card__subcontent__key">From</div>
            <div class="col-3 c-card__subcontent__value">2013</div>
            <div class="col-md-3 c-card__subcontent__key">To</div>
            <div class="col-3 c-card__subcontent__value">2017</div>
          </div>
          <div class="c-card__subcontent row">
            <div class="col-md-3 c-card__subcontent__key">Location</div>
            <div class="col-9 c-card__subcontent__value">Jakarta</div>
          </div>
          <div class="c-card__subcontent row">
            <div class="col-md-3 c-card__subcontent__key">Description</div>
            <div class="col-9 c-card__subcontent__value">
              I've worked with some pretty cool brands, including Neiman Marcus, TIGI/Toni & Guy, Bergdorf Goodman, jcpenney, Michaels, Nationwide Insurance, D Magazine, GameStop, Dreamworks, Scholastic, Direct Energy, and Dr Pepper.
            </div>
          </div>
        </div>
      </div>
      <div class="c-card__section">
        <div class="c-card__section__edit">
          <a href="#"><i class="fa fa-pencil c-card__icon text-info" aria-hidden="true"></i></a>
        </div>
        <div class="c-card__subtitle row">Educational History</div>
        <div class="c-card__section__item">
          <div class="c-card__subcontent row">
            <div class="col-md-3 c-card__subcontent__key">School/University</div>
            <div class="col-9 c-card__subcontent__value">Gunadarma University</div>
          </div>
          <div class="c-card__subcontent row">
            <div class="col-md-3 c-card__subcontent__key">Major</div>
            <div class="col-9 c-card__subcontent__value">Information SYstem</div>
          </div>
          <div class="c-card__subcontent row">
            <div class="col-md-3 c-card__subcontent__key">From</div>
            <div class="col-3 c-card__subcontent__value">2011</div>
            <div class="col-md-3 c-card__subcontent__key">To</div>
            <div class="col-3 c-card__subcontent__value">2016</div>
          </div>
          <div class="c-card__subcontent row">
            <div class="col-md-3 c-card__subcontent__key">GPA/Score</div>
            <div class="col-9 c-card__subcontent__value">3.25</div>
          </div>
        </div>
        <div class="c-card__section__item">
          <div class="c-card__subcontent row">
            <div class="col-md-3 c-card__subcontent__key">School/University</div>
            <div class="col-9 c-card__subcontent__value">Gunadarma University</div>
          </div>
          <div class="c-card__subcontent row">
            <div class="col-md-3 c-card__subcontent__key">Major</div>
            <div class="col-9 c-card__subcontent__value">Information SYstem</div>
          </div>
          <div class="c-card__subcontent row">
            <div class="col-md-3 c-card__subcontent__key">From</div>
            <div class="col-3 c-card__subcontent__value">2011</div>
            <div class="col-md-3 c-card__subcontent__key">To</div>
            <div class="col-3 c-card__subcontent__value">2016</div>
          </div>
          <div class="c-card__subcontent row">
            <div class="col-md-3 c-card__subcontent__key">GPA/Score</div>
            <div class="col-9 c-card__subcontent__value">3.25</div>
          </div>
        </div>
      </div>
      <div class="c-card__section">
        <div class="c-card__section__edit">
          <a href="#"><i class="fa fa-pencil c-card__icon text-info" aria-hidden="true"></i></a>
        </div>
        <div class="c-card__subtitle row">Preferences</div>
        <div class="c-card__section__item">
          <div class="c-card__subcontent row">
            <div class="col-md-3 c-card__subcontent__key u-bold">Gaji Bulanan</div>
          </div>
          <div class="c-card__subcontent row">
            <div class="col-md-3 c-card__subcontent__key">Gaji Saat ini</div>
            <div class="col-3 c-card__subcontent__value">Rp 10.000.000,-</div>
            <div class="col-md-3 c-card__subcontent__key">Tipe Gaji</div>
            <div class="col-3 c-card__subcontent__value">Nett</div>
          </div>
          <div class="c-card__subcontent row">
            <div class="col-md-3 c-card__subcontent__key">Kompensasi Lainnya</div>
            <div class="col-9 c-card__subcontent__value">BPJS, Asuransi Swastam THR, Remote Work</div>
          </div>
        </div>
        <div class="c-card__section__item">
          <div class="c-card__subcontent row">
            <div class="col-md-3 c-card__subcontent__key">Gaji Saat ini</div>
            <div class="col-3 c-card__subcontent__value">Rp 10.000.000,-</div>
            <div class="col-md-3 c-card__subcontent__key">Tipe Gaji</div>
            <div class="col-3 c-card__subcontent__value">Nett</div>
          </div>
          <div class="c-card__subcontent row">
            <div class="col-md-3 c-card__subcontent__key">Kompensasi Lainnya</div>
            <div class="col-9 c-card__subcontent__value">BPJS, Asuransi Swastam THR, Remote Work</div>
          </div>
          <div class="c-card__subcontent row">
            <div class="col-md-3 c-card__subcontent__key">Notice Periode</div>
            <div class="col-9 c-card__subcontent__value">Secepatnya</div>
          </div>
          <div class="c-card__subcontent row">
            <div class="col-md-3 c-card__subcontent__key">Harapan Lokasi Bekerja</div>
            <div class="col-9 c-card__subcontent__value">Jakarta Selatan</div>
          </div>
          <div class="c-card__subcontent row">
            <div class="col-md-3 c-card__subcontent__key">Alasan Pindah</div>
            <div class="col-9 c-card__subcontent__value">Lorem</div>
          </div>
        </div>
      </div>
      <div class="c-card__section">
        <div class="c-card__subtitle row">Taken Tests</div>
        <div class="c-card__section__item">
          <div class="col-12 c-card__subcontent__key">
            <img class="img-fluid" src="img/icon/icon-taken-test.png">
          </div>
        </div>
      </div>
      <div class="c-card__section">
        <div class="c-card__section__edit">
          <a href="#"><i class="fa fa-pencil c-card__icon text-info" aria-hidden="true"></i></a>
        </div>
        <div class="c-card__subtitle row">Languages</div>
        <div class="c-card__subcontent row">
          <div class="col-md-3 c-card__subcontent__key">English</div>
          <div class="col-9 col-md-7 c-card__subcontent__bar align-self-center">
            <div class="progress progress--base">
              <div class="progress-bar progress-bar--base" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="col-3 col-md-2 c-card__subcontent__value">Advance</div>
        </div>
        <div class="c-card__subcontent row">
          <div class="col-md-3 c-card__subcontent__key">Indonesian</div>
          <div class="col-9 col-md-7 c-card__subcontent__bar align-self-center">
            <div class="progress progress--base">
              <div class="progress-bar progress-bar--base" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="col-3 col-md-2 c-card__subcontent__value">Native</div>
        </div>
      </div>
      <div class="c-card__section">
        <div class="c-card__section__edit">
          <a href="#"><i class="fa fa-pencil c-card__icon text-info" aria-hidden="true"></i></a>
        </div>
        <div class="c-card__subtitle row">Certifications</div>
        <div class="c-card__subcontent row">
          <div class="col-md-3 c-card__subcontent__key">Nama Sertifikasi</div>
          <div class="col-3 c-card__subcontent__value">Adobe Certification Associate</div>
          <div class="col-md-3 c-card__subcontent__key">Skor Sertifikasi</div>
          <div class="col-3 c-card__subcontent__value">700</div>
        </div>
      </div>
      <div class="c-card__section">
        <div class="c-card__section__edit">
          <a href="#"><i class="fa fa-pencil c-card__icon text-info" aria-hidden="true"></i></a>
        </div>
        <div class="c-card__subtitle row">Achievements</div>
        <div class="c-card__subcontent row">
          <div class="col-md-3 c-card__subcontent__key">Achievements Name</div>
          <div class="col-9 c-card__subcontent__value">Penanggung Jawab Acara Musik</div>
        </div>
        <div class="c-card__subcontent row">
          <div class="col-md-3 c-card__subcontent__key">Achievements Description</div>
          <div class="col-9 c-card__subcontent__value">Lorem</div>
        </div>
      </div>
      <div class="c-card__section">
        <div class="c-card__section__edit">
          <a href="#"><i class="fa fa-pencil c-card__icon text-info" aria-hidden="true"></i></a>
        </div>
        <div class="c-card__subtitle row">Projects</div>
        <div class="c-card__subcontent row">
          <div class="col-md-3 c-card__subcontent__key">Project Name</div>
          <div class="col-9 c-card__subcontent__value">EKRUT.com Revamp</div>
        </div>
        <div class="c-card__subcontent row">
          <div class="col-md-3 c-card__subcontent__key">Project Type</div>
          <div class="col-9 c-card__subcontent__value">Art and Design</div>
        </div>
        <div class="c-card__subcontent row">
          <div class="col-md-3 c-card__subcontent__key">From</div>
          <div class="col-3 c-card__subcontent__value">2018</div>
          <div class="col-md-3 c-card__subcontent__key">To</div>
          <div class="col-3 c-card__subcontent__value">2018</div>
        </div>
        <div class="c-card__subcontent row">
          <div class="col-md-3 c-card__subcontent__key">Project Description</div>
          <div class="col-9 c-card__subcontent__value">Lorem</div>
        </div>
      </div>
      <div class="c-card__section">
        <div class="c-card__section__edit">
          <a href="#"><i class="fa fa-pencil c-card__icon text-info" aria-hidden="true"></i></a>
        </div>
        <div class="c-card__subtitle row">Publications</div>
        <div class="c-card__subcontent row">
          <div class="col-md-3 c-card__subcontent__key">Publications Name</div>
          <div class="col-9 c-card__subcontent__value">Buku Gambar</div>
        </div>
        <div class="c-card__subcontent row">
          <div class="col-md-3 c-card__subcontent__key">Released Date</div>
          <div class="col-9 c-card__subcontent__value">07/02/2018</div>
        </div>
        <div class="c-card__subcontent row">
          <div class="col-md-3 c-card__subcontent__key">Project Description</div>
          <div class="col-9 c-card__subcontent__value">Lorem</div>
        </div>
      </div>
    </div>
  </div>
</section>