<!-- <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" /> -->
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="style/dashboard.css" type="text/css" media="all" />


<!-- selectize js -->
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/css/selectize.css">


<div class="row no-gutters">
  <aside class="col-md-2 dashboard-sidebar">
    <button class="dashboard-sidebar__create">
      <i class="fa fa-plus-circle text-info fa-lg align-self-center" aria-hidden="true"></i> 
      <div class="dashboard-sidebar__create__title">Create Position</div>
    </button>
    <ul class="dashboard-sidebar__list">
      <li><a href="#">Software Engineer</a></li>
      <li><a href="#">Backend Engineer</a></li>
      <li><a href="#">Backend Engineer</a></li>
      <li><a href="#">Marketing Manager</a></li>
    </ul>
  </aside>

  <section class="col-md-10">
    <div class="dashboard-content__header">
      <h2 class="dashboard-content__title l-dashboard-padding">Find Talent</h2>
      <div class="container-fluid l-dashboard-padding">
        <div class="row">
          <div class="col-12 col-md-4 mb-2">
            <div class="row mb-3">
              <div class="col-12">
                <input class="form-control c-input" type="text" placeholder="Position">
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <input class="form-control c-input" type="text" placeholder="Min Budget">
              </div>
              <div class="col-6">
                <input class="form-control c-input" type="text" placeholder="Max Budget">
              </div>
            </div>
          </div>
          <div class="col-12 col-md-8 mb-2">
            <div class="row mb-2">
              <!-- <select class="form-control col-md-11 offset-md-1 c-select">
                <option selected disabled>Skills</option>
              </select> -->
              <input type="text" id="input-tags" class="form-control col-md-11 offset-md-1 c-select">
            </div>
            <div class="row mb-2">
              <select class="form-control col-md-5 offset-md-1 c-select">
                <option selected disabled>Major</option>
              </select>
              <select class="form-control col-md-5 offset-md-1 c-select">
                <option selected disabled>Business Field</option>
              </select>
            </div>
          </div>
          <div class="col-12 text-md-right">
            <button class="c-button-ghost">CLEAR</button>
            <button class="c-button-main">SUBMIT</button>
          </div>
        </div>
      </div>
    </div>
    <div class="dashboard-content__content">
      <div class="c-card">
        <div class="c-card__header">
          <img class="c-card__candidate-photo float-left" src="img/author.jpg">
          <div class="c-card__candidate">Yohanes</div>
          <div class="c-card__candidate-preference">
            <i class="fa fa-circle c-card__icon text-warning" aria-hidden="true"></i>
            Accepting New Opportunity
          </div>
          <div class="c-card__address mb-3">Bogor, Jawa Barat</div>
          <div class="c-card__job mb-4">Your Awesome UI/UX & Graphic Designer</div>
        </div>
        <a href="javascript:void(0);" class="fa fa-star-o c-card__bookmark"></a>
        <div class="c-card__candidate-status">Waiting Approval</div>
        <div class="c-card__content">
          <p><span class="c-icon-main"><img src="img/icon/icon-ekrut-profile-pekerjaan.svg"></span> <strong>Dattabot</strong> 2 mos, Journal 8 mos, MITO Mobile 1 yr, 2 mos</p>
          <p><span class="c-icon-main"><img src="img/icon/icon-ekrut-profile-pendidikan.svg"></span> <strong>Gunadarma University</strong> Bachelor Degree Information System</p>
          <p><span class="c-icon-main"><img src="img/icon/icon-ekrut-employer-position.svg"></span> <strong>UI/UX Designer</strong> 2 mos, Lead UI/UX Designer 8 mos, Lead UI/UX Designer 1 yr, 2 mos</p>
          <p><span class="c-icon-main"><img src="img/icon/icon-ekrut-profile-keahlian.svg"></span> <strong>UI (User Interface)</strong> Design 6 yrs, UX(User Experience) Design 6 yrs, UX Research 3 yrs</p>
        </div>
        <div class="col-12 text-right">
          <button class="c-button-main">View Profile</button>
        </div>
        <div class="c-ribbon">headhunting</div>
      </div>
      <div class="c-card">
        <div class="c-card__profile-picture"></div>
        <img class="c-card__candidate-photo float-left" src="img/author.jpg">
        <div class="c-card__header">
          <div class="c-card__candidate">Yohanes</div>
          <div class="c-card__candidate-preference">
            <i class="fa fa-circle c-card__icon text-warning" aria-hidden="true"></i>
            Accepting New Opportunity
          </div>
          <div class="c-card__address mb-3">Bogor, Jawa Barat</div>
          <div class="c-card__job mb-4">Your Awesome UI/UX & Graphic Designer</div>
        </div>
        <a href="javascript:void(0);" class="fa fa-star-o c-card__bookmark"></a>
        <div class="c-card__candidate-status">Waiting Approval</div>
        <div class="c-card__content">
          <p><span class="c-icon-main"><img src="img/icon/icon-ekrut-profile-pekerjaan.svg"></span> <strong>Dattabot</strong> 2 mos, Journal 8 mos, MITO Mobile 1 yr, 2 mos</p>
          <p><span class="c-icon-main"><img src="img/icon/icon-ekrut-profile-pendidikan.svg"></span> <strong>Gunadarma University</strong> Bachelor Degree Information System</p>
          <p><span class="c-icon-main"><img src="img/icon/icon-ekrut-employer-position.svg"></span> <strong>UI/UX Designer</strong> 2 mos, Lead UI/UX Designer 8 mos, Lead UI/UX Designer 1 yr, 2 mos</p>
          <p><span class="c-icon-main"><img src="img/icon/icon-ekrut-profile-keahlian.svg"></span> <strong>UI (User Interface)</strong> Design 6 yrs, UX(User Experience) Design 6 yrs, UX Research 3 yrs</p>
        </div>
        <div class="col-12 text-right">
          <button class="c-button-main">View Profile</button>
        </div>
      </div>
      <div class="c-card">
        <div class="c-card__profile-picture"></div>
        <img class="c-card__candidate-photo float-left" src="img/author.jpg">
        <div class="c-card__header">
          <div class="c-card__candidate">Yohanes</div>
          <div class="c-card__candidate-preference">
            <i class="fa fa-circle c-card__icon text-warning" aria-hidden="true"></i>
            Accepting New Opportunity
          </div>
          <div class="c-card__address mb-3">Bogor, Jawa Barat</div>
          <div class="c-card__job mb-4">Your Awesome UI/UX & Graphic Designer</div>
        </div>
        <a href="javascript:void(0);" class="fa fa-star-o c-card__bookmark"></a>
        <div class="c-card__candidate-status">Waiting Approval</div>
        <div class="c-card__content">
          <p><span class="c-icon-main"><img src="img/icon/icon-ekrut-profile-pekerjaan.svg"></span> <strong>Dattabot</strong> 2 mos, Journal 8 mos, MITO Mobile 1 yr, 2 mos</p>
          <p><span class="c-icon-main"><img src="img/icon/icon-ekrut-profile-pendidikan.svg"></span> <strong>Gunadarma University</strong> Bachelor Degree Information System</p>
          <p><span class="c-icon-main"><img src="img/icon/icon-ekrut-employer-position.svg"></span> <strong>UI/UX Designer</strong> 2 mos, Lead UI/UX Designer 8 mos, Lead UI/UX Designer 1 yr, 2 mos</p>
          <p><span class="c-icon-main"><img src="img/icon/icon-ekrut-profile-keahlian.svg"></span> <strong>UI (User Interface)</strong> Design 6 yrs, UX(User Experience) Design 6 yrs, UX Research 3 yrs</p>
        </div>
        <div class="col-12 text-right">
          <button class="c-button-main">View Profile</button>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- Modal - Confirm Bookmark -->
<div class="modal c-modal fade" id="bookmark" tabindex="-1" role="dialog" aria-labelledby="bookmarkTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <h5 class="modal-title c-modal__title c-modal__title--head col-12" id="bookmarkTitle">Are You Sure ?</h5>
        <button type="text" type="button" class="close c-modal__close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body c-form-full">
        <div class="row justify-content-center">
          <button class="c-button-ghost c-button--long mr-2" data-dismiss="modal">Cancel</button>
          <button class="c-button-main c-button--long js-confirm-bookmark">Confirm</button>
        </div>
      </div>
    </div>
  </div>
</div>



<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/js/standalone/selectize.min.js"></script>

<script>
$(function() {
  $('#input-tags').selectize({
    delimiter: ',',
    persist: false,
    create: function(input) {
      return {
        value: input,
        text: input
      }
    }
  });
  // function bookmark
  var thisBookmark;
  $('.c-card__bookmark').click($.proxy(function (e) {
    if($(this).hasClass('fa-star')){
      thisBookmark = this;
      e.stopPropagation();
      $('#bookmark').modal('show');
      return
    }
    $(this).toggleClass('fa-star fa-star-o');
  }, thisBookmark));

  $('#bookmark').find('.js-confirm-bookmark').click($.proxy(function (e) {
    e.stopPropagation();
    $('#bookmark').modal('hide');
    $(thisBookmark).toggleClass('fa-star fa-star-o');
  }, thisBookmark));
});
</script>