<link href="https://fonts.googleapis.com/css?family=Montserrat:400,600" rel="stylesheet">
<link 
  rel="stylesheet" 
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
  crossorigin="anonymous">
<link 
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" 
  rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" 
  crossorigin="anonymous">
<link 
  rel="stylesheet" 
  type="text/css" 
  href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<!-- additional -->
<link 
  rel="stylesheet" 
  href="style/onlinetest.css" 
  type="text/css" 
  media="all" />


<section class="onlinetest">
  <div class="headTagLine">
    <div class="col-md-8 offset-md-2 pb-4">
      <h1 class="h6 font-weight-bold mb-1">SKILL BADGES</h1>
      <h2>Ikuti Test untuk menambah kesempatan anda mendapatkan pekerjaan</h2>
    </div>
  </div>
  <div class="container l-onlinetest__content">
    <div class="c-card mb-5 text-sm-left text-center">
      <div class="row">
        <div class="col-md-6 mb-md-0 mb-4">
          <img class="onlinetest__profile onlinetest__profile--sm mr-sm-3 mr-0" src="img/profile.jpg">
          <div class="d-inline-block align-middle">
            <p class="font-weight-bold">Halo, Puji</p>
            <p class="u-text-description">24 Tahun, Fullstack Developer</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-2">Badges Anda :</div>
          <div class="onlinetest__badges">
            <img src="img/skills/badge1.png" title="java">
            <img src="img/skills/badge1.png">
            <br>
            <a class="d-block d-md-inline s-button-small" href="#">Riwayat Pengerjaan</a>
          </div>
        </div>
      </div>
      <hr class="c-card__line--full">
      <div class="row">
        <div class="col-lg-12">
          <div class="d-inline-block mr-2 mb-1">Top 5 Skill Anda : </div>
          <div class="d-inline-block c-tag-label">
            <div class="c-tag-label__item c-tag-label__item--dark">Java</div>
            <div class="c-tag-label__item c-tag-label__item--dark">Web Design</div>
            <div class="c-tag-label__item c-tag-label__item--dark">CSS</div>
          </div>
        </div>
      </div>
    </div>
    <div class="onlinetest__list-section">
      <h3 class="onlinetest__subtitle">
        Test yang direkomendasikan untuk Anda :
      </h3>
      <div class="row">
        <div class="col-lg-3 col-md-4">
          <div class="c-card text-center">
            <img src="img/skills/skill1.png">
            <div class="onlinetest__skill__title">Java Programming</div>
            <div class="onlinetest__skill__subtitle mt-1 mb-4">Level 1</div>
            <a href="#" class="c-button-main c-button--long">Test</a>
          </div>
        </div>
        <div class="col-lg-3 col-md-4">
          <div class="c-card text-center">
            <img src="img/skills/skill2.png">
            <div class="onlinetest__skill__title">English</div>
            <div class="onlinetest__skill__subtitle mt-1 mb-4">Level 1</div>
            <a href="#" class="c-button-main c-button--long">Test</a>
          </div>
        </div>
        <div class="col-lg-3 col-md-4">
          <div class="c-card text-center">
            <img src="img/skills/skill3.png">
            <div class="onlinetest__skill__title">Microsoft SQL Server</div>
            <div class="onlinetest__skill__subtitle mt-1 mb-4">Level 1</div>
            <a href="#" class="c-button-main c-button--long">Test</a>
          </div>
        </div>
        <div class="col-lg-3 col-md-4">
          <div class="c-card text-center">
            <img src="img/skills/skill4.png">
            <div class="onlinetest__skill__title">HTML 5</div>
            <div class="onlinetest__skill__subtitle mt-1 mb-4">Level 1</div>
            <a href="#" class="c-button-main c-button--long">Test</a>
          </div>
        </div>
      </div>
    </div>
    <div class="onlinetest__list-section">
      <h3 class="onlinetest__subtitle">
        Programming
      </h3>
      <div class="row js-c-button-more__wrapper">
        <div class="col-lg-3 col-md-4">
          <div class="c-card text-center">
            <img src="img/skills/skill1.png">
            <div class="onlinetest__skill__title">Java Programming</div>
            <div class="onlinetest__skill__subtitle mt-1 mb-4">Level 1</div>
            <a href="#" class="c-button-main c-button--long">Test</a>
          </div>
        </div>
        <div class="col-lg-3 col-md-4">
          <div class="c-card text-center">
            <img src="img/skills/skill2.png">
            <div class="onlinetest__skill__title">English</div>
            <div class="onlinetest__skill__subtitle mt-1 mb-4">Level 1</div>
            <a href="#" class="c-button-main c-button--long">Test</a>
          </div>
        </div>
        <div class="col-lg-3 col-md-4">
          <div class="c-card text-center">
            <img src="img/skills/skill3.png">
            <div class="onlinetest__skill__title">Microsoft SQL Server</div>
            <div class="onlinetest__skill__subtitle mt-1 mb-4">Level 1</div>
            <a href="#" class="c-button-main c-button--long">Test</a>
          </div>
        </div>
        <div class="col-lg-3 col-md-4">
          <div class="c-card text-center">
            <img src="img/skills/skill4.png">
            <div class="onlinetest__skill__title">HTML 5</div>
            <div class="onlinetest__skill__subtitle mt-1 mb-4">Level 1</div>
            <a href="#" class="c-button-main c-button--long">Test</a>
          </div>
        </div>
        <div class="col-lg-3 col-md-4">
          <div class="c-card text-center">
            <img src="img/skills/skill4.png">
            <div class="onlinetest__skill__title">HTML 5</div>
            <div class="onlinetest__skill__subtitle mt-1 mb-4">Level 1</div>
            <a href="#" class="c-button-main c-button--long">Test</a>
          </div>
        </div>
      </div>
    </div>
    <div class="onlinetest__list-section">
      <h3 class="onlinetest__subtitle">
        Language
      </h3>
      <div class="row">
        <div class="col-md-3">
          <div class="c-card text-center">
            <img src="img/skills/skill1.png">
            <div class="onlinetest__skill__title">Java Programming</div>
            <div class="onlinetest__skill__subtitle mt-1 mb-4">Level 1</div>
            <a href="#" class="c-button-main c-button--long">Test</a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="c-card text-center">
            <img src="img/skills/skill2.png">
            <div class="onlinetest__skill__title">English</div>
            <div class="onlinetest__skill__subtitle mt-1 mb-4">Level 1</div>
            <a href="#" class="c-button-main c-button--long">Test</a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="c-card text-center">
            <img src="img/skills/skill3.png">
            <div class="onlinetest__skill__title">Microsoft SQL Server</div>
            <div class="onlinetest__skill__subtitle mt-1 mb-4">Level 1</div>
            <a href="#" class="c-button-main c-button--long">Test</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<script type="text/javascript">
  $('.onlinetest__list-section').each(function(){
    if ($(this).find('.c-card').length > 4) {
      $(this).find('.js-c-button-more__wrapper').append(`
        <div class="col-12 text-center">
          <a href="javascript:void(0)" class="c-button-more">Lihat Semua</a>
        </div>
      `);
      $(this).find('.c-card:gt(3)').hide();
    }
  });
  $('.c-button-more').click(function(){
    $(this).closest('.js-c-button-more__wrapper').find('.c-card').show();
    $(this).hide();
  });
</script>