<!-- <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" /> -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,600" rel="stylesheet">
<link 
    rel="stylesheet" 
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
    crossorigin="anonymous">
<link 
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" 
    rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" 
    crossorigin="anonymous">
<link 
    rel="stylesheet" 
    type="text/css" 
    href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link 
    rel="stylesheet" 
    href="style/dashboard.css" 
    type="text/css" 
    media="all" />


<header>
  <div class="navmenu-container">
    <div class="container">
      <nav class="navmenu">
        <div class="navmenu__logo">
          <a href="/" title="Ekrut.com">
            <div class="logo">
              <h1>
                <img class="navmenu__logo__image" src="img/logo-white.svg" alt="logo">
                <span class="logo__text">Ekrut.com</span>
              </h1>
            </div>
          </a>
        </div>

        <div class="navmenu__list">
          <div class="navmenu__list__icon--bar">
            <i class="fa fa-bars" aria-hidden="true"></i>
          </div>

          <div class="menu">
            <div class="navmenu__list__icon--close">
              <i class="fa fa-times-circle" aria-hidden="true"></i>
            </div>
            <ul>
              <li> <a href="#" title="Activity Board">Activity Board</a></li>
              <li> <a href="#" title="Find Talents">Find Talents</a></li>
              <li><a href="#" title="Bookmarks">Bookmarks</a></li>
              <li><a href="#" title="Interviews">Interviews<span class="navmenu__counter">9</span></a></li>
              <li class="menu-dropdown">
                <button type="text" class="menu-dropdown__button">
                  <div class="menu__profile">JohnDoa</div> 
                  <span class="imgProfile"><img src="img/author.jpg"></span>
                  <i class="fa fa-angle-down align-self-center" aria-hidden="true"></i>
                </button>
                <ul class="menu-dropdown__list">
                  <li><a href="#" title="Marketplace">Marketplace</a></li>
                  <li><a href="#" title="Headhunting">Headhunting</a></li>
                  <li><a href="#" title="Pricing">Pricing</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>

        <div class="clearfix"></div>
      </nav>
    </div>
  </div>
</header>

<div class="row no-gutters dashboard-wrapper">
  <aside class="col-md-2 dashboard-sidebar">
    <button type="text" class="dashboard-sidebar__create">
      <i class="fa fa-plus-circle text-info fa-lg align-self-center" aria-hidden="true"></i> 
      <div class="dashboard-sidebar__create__title">Create Position</div>
    </button>
    <ul class="dashboard-sidebar__list">
      <li><a href="#">Software Engineer</a></li>
      <li><a href="#">Backend Engineer</a></li>
      <li><a href="#">Backend Engineer</a></li>
      <li><a href="#">Marketing Manager</a></li>
    </ul>
  </aside>

  <section class="col-md-10">
    <div class="dashboard-content__content">
      <!-- Button trigger modal - Accept bcv -->
      <button type="text" type="button" class="c-button-main" data-toggle="modal" data-target="#acceptBcv">
        Accept BCV
      </button>
      <!-- Button trigger modal - Suggested Schedule -->
      <button type="text" type="button" class="c-button-main" data-toggle="modal" data-target="#suggestedSchedule">
        Suggested Schedule
      </button>
      <!-- Button trigger modal - Offer Employer -->
      <button type="text" type="button" class="c-button-main" data-toggle="modal" data-target="#offerEmployer">
        Offer Employer
      </button>
      <!-- Button trigger modal - Offer Talent -->
      <button type="text" type="button" class="c-button-main" data-toggle="modal" data-target="#offerTalent">
        Offer Talent
      </button>
      <!-- Button trigger modal - Reject -->
      <button type="text" type="button" class="c-button-main" data-toggle="modal" data-target="#reject">
        Reject
      </button>
      <!-- Button trigger modal - Add Position -->
      <button type="text" type="button" class="c-button-main" data-toggle="modal" data-target="#addPosition">
        Add Position
      </button>
      <!-- Button trigger modal - View Company-->
      <button type="text" type="button" class="c-button-main" data-toggle="modal" data-target="#viewCompany">
        View Company
      </button>
    </div>
  </section>
</div>


<!-- Modal - Accept bcv -->
<div class="modal c-modal fade" id="acceptBcv" tabindex="-1" role="dialog" aria-labelledby="acceptBcvTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <h5 class="modal-title c-modal__title c-modal__title--head col-12" id="acceptBcvTitle">Are You Sure ?</h5>
        <button type="text" type="button" class="close c-modal__close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body c-form-full">
        <div class="row justify-content-center">
          <button type="text" class="c-button-ghost c-button--long mr-2" data-dismiss="modal">Batal</button>
          <button type="text" class="c-button-main c-button--long">Kirim</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal - Suggested Schedule -->
<div class="modal c-modal fade" id="suggestedSchedule" tabindex="-1" role="dialog" aria-labelledby="suggestedScheduleTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <h5 class="modal-title c-modal__title c-modal__title--head col-12" id="suggestedScheduleTitle">Suggest Schedule</h5>
        <button type="text" type="button" class="close c-modal__close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body c-form-full">
        <form>
          <div class="row mb-4">
            <div class="input-group col-6">
              <input type="text" class="form-control c-disabled" placeholder="date - 03/01/2018" disabled>
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon1">@</span>
              </div>
            </div>
            <div class="input-group col-6">
              <input type="text" class="form-control c-disabled" placeholder="time - 03/01/2018" disabled>
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon1">@</span>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <button type="text" class="c-button-ghost c-button--long col-4 mr-2">Approve</button>
            <button type="text" class="c-button-main c-button--long col-4">Re-Schedule</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal - Offer Employer -->
<div class="modal c-modal fade" id="offerEmployer" tabindex="-1" role="dialog" aria-labelledby="offerEmployerTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header justify-content-center mb-2">
        <h5 class="modal-title c-modal__title c-modal__title--head col-12" id="offerEmployerTitle">Offer</h5>
        <button type="text" type="button" class="close c-modal__close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body c-form-full">
        <form>
          <div class="form-group">
            <label>Position</label>
            <input type="text" class="form-control c-disabled" disabled>
          </div>
          <div class="form-group">
            <label>Offer</label>
            <input type="text" class="form-control">
          </div>
          <div class="row justify-content-center">
            <button type="text" class="c-button-ghost c-button--long col-4 mr-2">Submit</button>
            <button type="text" class="c-button-main c-button--long col-4" data-dismiss="modal">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal - Offer Talent -->
<div class="modal c-modal fade" id="offerTalent" tabindex="-1" role="dialog" aria-labelledby="offerTalentTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header justify-content-center mb-2">
        <h5 class="modal-title c-modal__title c-modal__title--head col-12" id="offerTalentTitle">Offer</h5>
        <button type="text" type="button" class="close c-modal__close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body c-form-full">
        <form>
          <div class="form-group">
            <label>Position</label>
            <input type="text" class="form-control c-disabled" disabled>
          </div>
          <div class="form-group">
            <label>Offer</label>
            <input type="text" class="form-control c-disabled" disabled>
          </div>
          <div class="row justify-content-center">
            <button type="text" class="c-button-main c-button--success c-button--thin col-3 mr-2">Approve</button>
            <button type="text" class="c-button-main c-button--danger c-button--thin col-3 mr-2">Reject</button>
            <!-- Button trigger modal - Offer Talent -->
            <button type="text" type="button" class="c-button-main c-button--thin col-3" data-toggle="modal" data-target="#nego">
              Nego
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Modal - Offer Talent --nego -->
<div class="modal c-modal fade" id="nego" tabindex="-1" role="dialog" aria-labelledby="negoTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header justify-content-center mb-2">
        <h5 class="modal-title c-modal__title c-modal__title--head col-12" id="negoTitle">Nego</h5>
        <button type="text" type="button" class="close c-modal__close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body c-form-full my-3">
        <form>
          <div class="form-group">
            <label>Notes</label>
            <textarea class="form-control" rows="3" required></textarea>
          </div>
          <div class="row justify-content-center">
            <button type="text" class="c-button-main">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal - Reject -->
<div class="modal c-modal fade" id="reject" tabindex="-1" role="dialog" aria-labelledby="rejectTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header justify-content-center mb-2">
        <h5 class="modal-title c-modal__title c-modal__title--head col-12" id="rejectTitle">Reject</h5>
        <button type="text" type="button" class="close c-modal__close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body c-form-full">
        <form>
          <div class="form-group">
            <label>Reason</label>
            <select class="form-control">
              <option></option>
            </select>
          </div>
          <div class="form-group">
            <label>Notes</label>
            <textarea class="form-control"></textarea>
          </div>
          <div class="row justify-content-center">
            <button type="text" class="c-button-main c-button--thin col-4 mr-2">Submit</button>
            <button type="text" class="c-button-main c-button--thin col-4" data-dismiss="modal">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal - Add Position -->
<div class="modal c-modal fade bd-example-modal-lg" id="addPosition" tabindex="-1" role="dialog" aria-labelledby="addPositionTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header justify-content-center mb-2">
        <h5 class="modal-title c-modal__title" id="addPositionTitle">Add to Position</h5>
        <button type="text" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body c-form-full">
        <form>
          <div class="form-group c-modal__layout-control mb-5">
            <button type="text" class="c-button-main c-button--square c-button--long">Software Engineer</button>
            <button type="text" class="c-button-main c-button--square c-button--long">Graphic Designer</button>
            <button type="text" class="c-button-main c-button--square c-button--long">UX Designer</button>
            <button type="text" class="c-button-main c-button--square c-button--long">Motion Graphic Designer</button>
            <button type="text" class="c-button-main c-button--square c-button--long">Typography Designer</button>
            <button type="text" class="c-button-main c-button--square c-button--long">Brand Designer</button>
            <button type="text" class="c-button-main c-button--square c-button--long">Graphic Designer</button>
            <button type="text" class="c-button-main c-button--square c-button--long">Graphic Designer</button>
          </div>
          <div class="row justify-content-center">
            <button type="text" class="c-button-main c-button--thin col-6 col-md-4">Create New Position</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal - View Company -->
<div class="modal c-modal fade bd-example-modal-lg" id="viewCompany" tabindex="-1" role="dialog" aria-labelledby="viewCompanyTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header justify-content-center mb-2">
        <h5 class="modal-title c-modal__title" id="viewCompanyTitle">View Company</h5>
        <button type="text" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body c-form-full">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-2 text-center">
              <img class="img-fluid" src="img/profile.jpg">
            </div>
            <div class="col-md-10">
              <div class="font-weight-bold h4 mt-4 mt-md-0">
                EKRUT
              </div>
              <div>
                A wiki (/ˈwɪki/ (About this sound listen) WIK-ee) is a website on which users collaboratively modify content and structure directly from the web browser. In a typical wiki, text is written using a simplified markup language and often edited with the help of a rich-text editor.[1]
                <div class="mt-3 s-company-desc row">
                  <div class="col-md-6">
                    <div>Company Legal Name:<b>PT COMPANY</b></div>
                    <div>Company Website:<b>https://www.ekrut.com</b></div>
                    <div>Address:<b>Jl. Ekrut structure directly from the web, Jakarta Selatan</b></div>
                  </div>
                  <div class="col-md-6">
                    <div>Company Size:<b>200</b></div>
                    <div>Industry:<b>ekrut</b></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
