<!-- <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" /> -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,600" rel="stylesheet">
<link 
    rel="stylesheet" 
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
    crossorigin="anonymous">
<link 
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" 
    rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" 
    crossorigin="anonymous">
<link 
    rel="stylesheet" 
    type="text/css" 
    href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link 
    rel="stylesheet" 
    href="style/dashboard.css" 
    type="text/css" 
    media="all" />


<header>
  <div class="navmenu-container">
    <div class="container">
      <nav class="navmenu">
        <div class="navmenu__logo">
          <a href="/" title="Ekrut.com">
            <div class="logo">
              <h1>
                <img class="navmenu__logo__image" src="img/logo-white.svg" alt="logo">
                <span class="logo__text">Ekrut.com</span>
              </h1>
            </div>
          </a>
        </div>

        <div class="navmenu__list">
          <div class="navmenu__list__icon--bar">
            <i class="fa fa-bars" aria-hidden="true"></i>
          </div>

          <div class="menu">
            <div class="navmenu__list__icon--close">
              <i class="fa fa-times-circle" aria-hidden="true"></i>
            </div>
            <ul>
              <li> <a href="#" title="Activity Board">Activity Board</a></li>
              <li> <a href="#" title="Find Talents">Find Talents</a></li>
              <li><a href="#" title="Bookmarks">Bookmarks</a></li>
              <li><a href="#" title="Interviews">Interviews<span class="navmenu__counter">9</span></a></li>
              <li class="menu-dropdown">
                <button class="menu-dropdown__button">
                  <div class="menu__profile">JohnDoa</div> 
                  <span class="imgProfile"><img src="img/author.jpg"></span>
                  <i class="fa fa-angle-down align-self-center" aria-hidden="true"></i>
                </button>
                <ul class="menu-dropdown__list">
                  <li><a href="#" title="Marketplace">Marketplace</a></li>
                  <li><a href="#" title="Headhunting">Headhunting</a></li>
                  <li><a href="#" title="Pricing">Pricing</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>

        <div class="clearfix"></div>
      </nav>
    </div>
  </div>
</header>

<div class="dashboard-wrapper">
  <div class="row no-gutters">
    <aside class="col-md-2 dashboard-sidebar">
      <input type="text" class="c-input dashboard-sidebar__search" placeholder="search position">
      <button class="dashboard-sidebar__create">
        <i class="fa fa-plus-circle text-info fa-lg align-self-center" aria-hidden="true"></i> 
        <div class="dashboard-sidebar__create__title">Create Position</div>
      </button>
      <ul class="dashboard-sidebar__list">
        <li><a href="#">Software Engineer</a></li>
        <li><a href="#">Backend Engineer</a></li>
        <li><a href="#">Backend Engineer</a></li>
        <li><a href="#">Marketing Manager</a></li>
      </ul>
    </aside>

    <section class="col-md-10">
      <div class="dashboard-content__header">
        <!-- <h2 class="dashboard-content__title l-dashboard-padding">Find Talent</h2> -->
        <a href="#" class="dashboard-content__header__back">Back to Find Talent</a>
      </div>
      <div class="dashboard-content__content">
        <div class="c-card c-card--view-talent">
          <div class="c-card__header row">
            <div class="c-card__header__profile col-md-9">
              <img class="c-card__candidate-photo float-left" src="img/author.jpg">
              <div class="c-card__candidate">Andika Bagus Badrudin</div>
              <div class="c-card__candidate-preference mb-2">
                <i class="fa fa-circle c-card__icon text-warning" aria-hidden="true"></i>
                Accepting New Opportunity
              </div>
              <div class="c-card__job">Your Awesome UI/UX & Graphic Designer</div>
              <div class="mb-4 mt-2 text-info font-italic u-text-small"><div class="c-card__candidate-status c-card__candidate-status--inline">Waiting Approval</div>Stage Interview 1</div>
              
            </div>
            <div class="c-card__header__actions col-md-3 text-right mb-5">
              <!-- <button class="c-button-square mb-2 c-button-square--success">Download CV as PDF</button>
              <button class="c-button-square mb-2 c-button-square--light">Download CV without Salary</button>
              <button class="c-button-square mb-2 c-button-square--info">Set Interview</button>
              <button class="c-button-square mb-2 c-button-square--warning">Reject CV</button> -->
              <button class="c-button-square mb-2 c-button-square--success">Download CV as PDF</button>
              <div class="dropdown c-dropdown">
                <a class="c-button-square c-button-square--info text-center" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  Actions<i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right multi-level col-12" role="menu" aria-labelledby="dropdownMenu">
                  <li class="dropdown-item"><a class="text-warning" href="#">Re-schedule</a></li>
                  <li class="dropdown-submenu">
                    <a class="dropdown-item text-info" tabindex="-1" href="#">Interviewed</a>
                    <ul class="btn dropdown-toggle dropdown-menu dropdown-menu--left">
                      <li class="dropdown-item text-primary"><a tabindex="-1" href="#">Next Step Interview</a></li>
                      <li class="dropdown-item text-success"><a href="#">Offer Talent</a></li>
                      <li class="dropdown-item text-danger"><a href="#">Interview failed / Reject</a></li>
                    </ul>
                  </li>
                  <li class="dropdown-item"><a class="text-danger" href="#">Reject</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="c-card__content">
            <div class="c-card__section">
              <div class="c-card__subtitle row">About Me</div>
              <div class="c-card__subcontent row">
                I’m a seasoned and award-winning agency creative — a passionate leader with a proven track record for translating complex ideas into slick, successful campaigns. I’ve managed and motivated interdisciplinary teams, both as official in-house go-to gal and A-list agency hotshot. I’ve built and managed brands from the ground up, worn every hat on the rack, and leapt tall buildings in a single bound. Don’t let my clean lines and weakness for Swiss type fool you; this is all a plot for world domination, one brand at a time.
                I've worked with some pretty cool brands, including Neiman Marcus, TIGI/Toni & Guy, Bergdorf Goodman, jcpenney, Michaels, Nationwide Insurance, D Magazine, GameStop, Dreamworks, Scholastic, Direct Energy, and Dr Pepper.
              </div>
            </div>
            <div class="c-card__section">
              <div class="c-card__subtitle row">Personal Information</div>
              <div class="c-card__subcontent row">
                <div class="col-md-3 c-card__subcontent__key">Place and Date of Birth</div>
                <div class="col-9 c-card__subcontent__value">Jakarta, 23 Agustus 1990</div>
              </div>
              <div class="c-card__subcontent row">
                <div class="col-md-3 c-card__subcontent__key">Phone Number</div>
                <div class="col-9 c-card__subcontent__value">+ 62 812 8614 0081</div>
              </div>
              <div class="c-card__subcontent row">
                <div class="col-md-3 c-card__subcontent__key">Email</div>
                <div class="col-9 c-card__subcontent__value">andikabgs90@gmail.com</div>
              </div>
              <div class="c-card__subcontent row">
                <div class="col-md-3 c-card__subcontent__key">Phone Number</div>
                <div class="col-9 c-card__subcontent__value">Bogor</div>
              </div>
            </div>
            <div class="c-card__section">
              <div class="c-card__subtitle row">Skills</div>
              <div class="c-card__subcontent row">
                <div class="col-md-3 c-card__subcontent__key">UI (User Interface) Design</div>
                <div class="col-9 col-md-7 c-card__subcontent__bar align-self-center">
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                <div class="col-3 col-md-2 c-card__subcontent__value">5 Tahun</div>
              </div>
              <div class="c-card__subcontent row">
                <div class="col-md-3 c-card__subcontent__key">UX (User Experience) Design</div>
                <div class="col-9 col-md-7 c-card__subcontent__bar align-self-center">
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                <div class="col-3 col-md-2 c-card__subcontent__value">5 Tahun</div>
              </div>
            </div>
            <div class="c-card__section">
              <div class="c-card__subtitle row">Working History</div>
              <div class="c-card__section__item">
                <div class="c-card__subcontent row">
                  <div class="col-md-3 c-card__subcontent__key">Company Name</div>
                  <div class="col-9 c-card__subcontent__value">PT. Angin Ribut Sejahtera</div>
                </div>
                <div class="c-card__subcontent row">
                  <div class="col-md-3 c-card__subcontent__key">Role</div>
                  <div class="col-9 c-card__subcontent__value">UI/UX Designer</div>
                </div>
                <div class="c-card__subcontent row">
                  <div class="col-md-3 c-card__subcontent__key">From</div>
                  <div class="col-3 c-card__subcontent__value">2013</div>
                  <div class="col-md-3 c-card__subcontent__key">To</div>
                  <div class="col-3 c-card__subcontent__value">2017</div>
                </div>
                <div class="c-card__subcontent row">
                  <div class="col-md-3 c-card__subcontent__key">Location</div>
                  <div class="col-9 c-card__subcontent__value">Jakarta</div>
                </div>
                <div class="c-card__subcontent row">
                  <div class="col-md-3 c-card__subcontent__key">Description</div>
                  <div class="col-9 c-card__subcontent__value">
                    I've worked with some pretty cool brands, including Neiman Marcus, TIGI/Toni & Guy, Bergdorf Goodman, jcpenney, Michaels, Nationwide Insurance, D Magazine, GameStop, Dreamworks, Scholastic, Direct Energy, and Dr Pepper.
                  </div>
                </div>
              </div>
              <div class="c-card__section__item">
                <div class="c-card__subcontent row">
                  <div class="col-md-3 c-card__subcontent__key">Company Name</div>
                  <div class="col-9 c-card__subcontent__value">PT. Angin Ribut Sejahtera</div>
                </div>
                <div class="c-card__subcontent row">
                  <div class="col-md-3 c-card__subcontent__key">Role</div>
                  <div class="col-9 c-card__subcontent__value">UI/UX Designer</div>
                </div>
                <div class="c-card__subcontent row">
                  <div class="col-md-3 c-card__subcontent__key">From</div>
                  <div class="col-3 c-card__subcontent__value">2013</div>
                  <div class="col-md-3 c-card__subcontent__key">To</div>
                  <div class="col-3 c-card__subcontent__value">2017</div>
                </div>
                <div class="c-card__subcontent row">
                  <div class="col-md-3 c-card__subcontent__key">Location</div>
                  <div class="col-9 c-card__subcontent__value">Jakarta</div>
                </div>
                <div class="c-card__subcontent row">
                  <div class="col-md-3 c-card__subcontent__key">Description</div>
                  <div class="col-9 c-card__subcontent__value">
                    I've worked with some pretty cool brands, including Neiman Marcus, TIGI/Toni & Guy, Bergdorf Goodman, jcpenney, Michaels, Nationwide Insurance, D Magazine, GameStop, Dreamworks, Scholastic, Direct Energy, and Dr Pepper.
                  </div>
                </div>
              </div>
            </div>
            <div class="c-card__section">
              <div class="c-card__subtitle row">Educational History</div>
              <div class="c-card__section__item">
                <div class="c-card__subcontent row">
                  <div class="col-md-3 c-card__subcontent__key">School/University</div>
                  <div class="col-9 c-card__subcontent__value">Gunadarma University</div>
                </div>
                <div class="c-card__subcontent row">
                  <div class="col-md-3 c-card__subcontent__key">Major</div>
                  <div class="col-9 c-card__subcontent__value">Information SYstem</div>
                </div>
                <div class="c-card__subcontent row">
                  <div class="col-md-3 c-card__subcontent__key">From</div>
                  <div class="col-3 c-card__subcontent__value">2011</div>
                  <div class="col-md-3 c-card__subcontent__key">To</div>
                  <div class="col-3 c-card__subcontent__value">2016</div>
                </div>
                <div class="c-card__subcontent row">
                  <div class="col-md-3 c-card__subcontent__key">GPA/Score</div>
                  <div class="col-9 c-card__subcontent__value">3.25</div>
                </div>
              </div>
              <div class="c-card__section__item">
                <div class="c-card__subcontent row">
                  <div class="col-md-3 c-card__subcontent__key">School/University</div>
                  <div class="col-9 c-card__subcontent__value">Gunadarma University</div>
                </div>
                <div class="c-card__subcontent row">
                  <div class="col-md-3 c-card__subcontent__key">Major</div>
                  <div class="col-9 c-card__subcontent__value">Information SYstem</div>
                </div>
                <div class="c-card__subcontent row">
                  <div class="col-md-3 c-card__subcontent__key">From</div>
                  <div class="col-3 c-card__subcontent__value">2011</div>
                  <div class="col-md-3 c-card__subcontent__key">To</div>
                  <div class="col-3 c-card__subcontent__value">2016</div>
                </div>
                <div class="c-card__subcontent row">
                  <div class="col-md-3 c-card__subcontent__key">GPA/Score</div>
                  <div class="col-9 c-card__subcontent__value">3.25</div>
                </div>
              </div>
            </div>
            <div class="c-card__section">
              <div class="c-card__subtitle row">Preferences</div>
              <div class="c-card__section__item">
                <div class="c-card__subcontent row">
                  <div class="col-md-3 c-card__subcontent__key u-bold">Gaji Bulanan</div>
                </div>
                <div class="c-card__subcontent row">
                  <div class="col-md-3 c-card__subcontent__key">Gaji Saat ini</div>
                  <div class="col-3 c-card__subcontent__value">Rp 10.000.000,-</div>
                  <div class="col-md-3 c-card__subcontent__key">Tipe Gaji</div>
                  <div class="col-3 c-card__subcontent__value">Nett</div>
                </div>
                <div class="c-card__subcontent row">
                  <div class="col-md-3 c-card__subcontent__key">Kompensasi Lainnya</div>
                  <div class="col-9 c-card__subcontent__value">BPJS, Asuransi Swastam THR, Remote Work</div>
                </div>
              </div>
              <div class="c-card__section__item">
                <div class="c-card__subcontent row">
                  <div class="col-md-3 c-card__subcontent__key">Gaji Saat ini</div>
                  <div class="col-3 c-card__subcontent__value">Rp 10.000.000,-</div>
                  <div class="col-md-3 c-card__subcontent__key">Tipe Gaji</div>
                  <div class="col-3 c-card__subcontent__value">Nett</div>
                </div>
                <div class="c-card__subcontent row">
                  <div class="col-md-3 c-card__subcontent__key">Kompensasi Lainnya</div>
                  <div class="col-9 c-card__subcontent__value">BPJS, Asuransi Swastam THR, Remote Work</div>
                </div>
                <div class="c-card__subcontent row">
                  <div class="col-md-3 c-card__subcontent__key">Notice Periode</div>
                  <div class="col-9 c-card__subcontent__value">Secepatnya</div>
                </div>
                <div class="c-card__subcontent row">
                  <div class="col-md-3 c-card__subcontent__key">Harapan Lokasi Bekerja</div>
                  <div class="col-9 c-card__subcontent__value">Jakarta Selatan</div>
                </div>
                <div class="c-card__subcontent row">
                  <div class="col-md-3 c-card__subcontent__key">Alasan Pindah</div>
                  <div class="col-9 c-card__subcontent__value">Lorem</div>
                </div>
              </div>
            </div>
            <div class="c-card__section">
              <div class="c-card__subtitle row">Taken Tests</div>
              <div class="c-card__section__item">
                <div class="col-12 c-card__subcontent__key">
                  <img class="img-fluid" src="img/icon/icon-taken-test.png">
                </div>
              </div>
            </div>
            <div class="c-card__section">
              <div class="c-card__subtitle row">Languages</div>
              <div class="c-card__subcontent row">
                <div class="col-md-3 c-card__subcontent__key">English</div>
                <div class="col-9 col-md-7 c-card__subcontent__bar align-self-center">
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                <div class="col-3 col-md-2 c-card__subcontent__value">Advance</div>
              </div>
              <div class="c-card__subcontent row">
                <div class="col-md-3 c-card__subcontent__key">Indonesian</div>
                <div class="col-9 col-md-7 c-card__subcontent__bar align-self-center">
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                <div class="col-3 col-md-2 c-card__subcontent__value">Native</div>
              </div>
            </div>
            <div class="c-card__section">
              <div class="c-card__subtitle row">Certifications</div>
              <div class="c-card__subcontent row">
                <div class="col-md-3 c-card__subcontent__key">Nama Sertifikasi</div>
                <div class="col-3 c-card__subcontent__value">Adobe Certification Associate</div>
                <div class="col-md-3 c-card__subcontent__key">Skor Sertifikasi</div>
                <div class="col-3 c-card__subcontent__value">700</div>
              </div>
            </div>
            <div class="c-card__section">
              <div class="c-card__subtitle row">Achievements</div>
              <div class="c-card__subcontent row">
                <div class="col-md-3 c-card__subcontent__key">Achievements Name</div>
                <div class="col-9 c-card__subcontent__value">Penanggung Jawab Acara Musik</div>
              </div>
              <div class="c-card__subcontent row">
                <div class="col-md-3 c-card__subcontent__key">Achievements Description</div>
                <div class="col-9 c-card__subcontent__value">Lorem</div>
              </div>
            </div>
            <div class="c-card__section">
              <div class="c-card__subtitle row">Projects</div>
              <div class="c-card__subcontent row">
                <div class="col-md-3 c-card__subcontent__key">Project Name</div>
                <div class="col-9 c-card__subcontent__value">EKRUT.com Revamp</div>
              </div>
              <div class="c-card__subcontent row">
                <div class="col-md-3 c-card__subcontent__key">Project Type</div>
                <div class="col-9 c-card__subcontent__value">Art and Design</div>
              </div>
              <div class="c-card__subcontent row">
                <div class="col-md-3 c-card__subcontent__key">From</div>
                <div class="col-3 c-card__subcontent__value">2018</div>
                <div class="col-md-3 c-card__subcontent__key">To</div>
                <div class="col-3 c-card__subcontent__value">2018</div>
              </div>
              <div class="c-card__subcontent row">
                <div class="col-md-3 c-card__subcontent__key">Project Description</div>
                <div class="col-9 c-card__subcontent__value">Lorem</div>
              </div>
            </div>
            <div class="c-card__section">
              <div class="c-card__subtitle row">Publications</div>
              <div class="c-card__subcontent row">
                <div class="col-md-3 c-card__subcontent__key">Publications Name</div>
                <div class="col-9 c-card__subcontent__value">Buku Gambar</div>
              </div>
              <div class="c-card__subcontent row">
                <div class="col-md-3 c-card__subcontent__key">Released Date</div>
                <div class="col-9 c-card__subcontent__value">07/02/2018</div>
              </div>
              <div class="c-card__subcontent row">
                <div class="col-md-3 c-card__subcontent__key">Project Description</div>
                <div class="col-9 c-card__subcontent__value">Lorem</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script type="text/javascript">
  $(document).ready(function(){
    // js header navbar
    $(".navmenu__list__icon--bar").click(function(){
      $(".menu").toggle();
      $("body").toggleClass("overflowHidden");
    });

    $(".menu__dropdown-title").click(function(){
      $(".menu__dropdown-title .menu__dropdown").toggle();
    });

    $(".navmenu__list__icon--close").click(function(){
      $(".menu").toggle();
      $("body").toggleClass("overflowHidden");
    });

    if ($(this).width() <= 767) {
      $('.menu-dropdown__button').click(function() {
          $(this).siblings('.menu-dropdown__list').toggleClass('active');
      });
    }
    // END: js header navbar
  });
</script>