<!-- <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" /> -->
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="style/dashboard.css" type="text/css" media="all" />


<div class="row no-gutters">
  <aside class="col-md-2 dashboard-sidebar">
    <ul>
      <li class="active"><a href="#"><i class="fa fa-plus-circle text-info fa-lg" aria-hidden="true"></i> Create Position</a></li>
      <li><a href="#">Software Engineer</a></li>
      <li><a href="#">Backend Engineer</a></li>
      <li><a href="#">Marketing Manager</a></li>
    </ul>
  </aside>

  <section class="col-md-10">
    <div class="dashboard-content__header">
      <h2 class="dashboard-content__title l-dashboard-padding">UI/UX Designer</h2>
      <div class="container-fluid l-dashboard-padding">
        <div class="row">
          <div class="col-12 col-md-6 l-dashboard-text">
            <p class="u-bold">Experience</p>
            <p>3 Years</p>
            <p class="u-bold">Level</p>
            <p>Mid-Level Staff</p>
            <p class="u-bold">Budget</p>
            <p>IDR 8.000.000 - IDR 15.000.000</p>
          </div>
          <div class="col-12 col-md-6 l-dashboard-text">
            <p class="u-bold">Work Location</p>
            <p class="u-text-small">International Financial Centre, EV HIVE 13th Floor</p>
            <p class="u-bold">Skill Requirements</p>
            <div class="c-tag-label">
              <div class="c-tag-label__item">UI (User Interface Design)</div>
              <div class="c-tag-label__item">UX (User Experience Design)</div>
              <div class="c-tag-label__item">UX Research</div>
              <div class="c-tag-label__item">HTML</div>
              <div class="c-tag-label__item">CSS</div>
              <div class="c-tag-label__item">Adobe Photoshop</div>
              <div class="c-tag-label__item">Adobe Illustrator</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ul class="nav nav-pills dashboard__position-tab" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Blind CV</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Full CV</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Process</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-deal-tab" data-toggle="pill" href="#pills-deal" role="tab" aria-controls="pills-deal" aria-selected="false">Deal</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-reject-tab" data-toggle="pill" href="#pills-reject" role="tab" aria-controls="pills-reject" aria-selected="false">Reject</a>
      </li>
    </ul>
    <div class="tab-content dashboard-content__content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <div class="c-card">
          <div class="c-card__profile-picture"></div>
          <img class="c-card__candidate-photo float-left" src="img/author.jpg">
          <div class="c-card__header">
            <div class="c-card__candidate">Yohanes</div>
            <div class="c-card__candidate-preference">
              <i class="fa fa-circle c-card__icon text-warning" aria-hidden="true"></i>
              Accepting New Opportunity
            </div>
            <div class="c-card__address mb-3">Bogor, Jawa Barat</div>
            <div class="c-card__job mb-4">Your Awesome UI/UX & Graphic Designer</div>
          </div>
          <div class="c-card__candidate-status">Waiting Approval</div>
          <div class="c-card__content">
            <p><span class="c-icon-main"><img src="img/icon/icon-ekrut-profile-pekerjaan.svg"></span> <strong>Dattabot</strong> 2 mos, Journal 8 mos, MITO Mobile 1 yr, 2 mos</p>
            <p><span class="c-icon-main"><img src="img/icon/icon-ekrut-profile-pendidikan.svg"></span> <strong>Gunadarma University</strong> Bachelor Degree Information System</p>
            <p><span class="c-icon-main"><img src="img/icon/icon-ekrut-employer-position.svg"></span> <strong>UI/UX Designer</strong> 2 mos, Lead UI/UX Designer 8 mos, Lead UI/UX Designer 1 yr, 2 mos</p>
            <p><span class="c-icon-main"><img src="img/icon/icon-ekrut-profile-keahlian.svg"></span> <strong>UI (User Interface)</strong> Design 6 yrs, UX(User Experience) Design 6 yrs, UX Research 3 yrs</p>
          </div>
          <div class="col-12 text-right">
            <button class="c-button-main">View Profile</button>
          </div>
        </div>
        <div class="c-card">
          <div class="c-card__profile-picture"></div>
          <img class="c-card__candidate-photo float-left" src="img/author.jpg">
          <div class="c-card__header">
            <div class="c-card__candidate">Yohanes</div>
            <div class="c-card__candidate-preference">
              <i class="fa fa-circle c-card__icon text-warning" aria-hidden="true"></i>
              Accepting New Opportunity
            </div>
            <div class="c-card__address mb-3">Bogor, Jawa Barat</div>
            <div class="c-card__job mb-4">Your Awesome UI/UX & Graphic Designer</div>
          </div>
          <div class="c-card__candidate-status">Waiting Approval</div>
          <div class="c-card__content">
            <p><span class="c-icon-main"><img src="img/icon/icon-ekrut-profile-pekerjaan.svg"></span> <strong>Dattabot</strong> 2 mos, Journal 8 mos, MITO Mobile 1 yr, 2 mos</p>
            <p><span class="c-icon-main"><img src="img/icon/icon-ekrut-profile-pendidikan.svg"></span> <strong>Gunadarma University</strong> Bachelor Degree Information System</p>
            <p><span class="c-icon-main"><img src="img/icon/icon-ekrut-employer-position.svg"></span> <strong>UI/UX Designer</strong> 2 mos, Lead UI/UX Designer 8 mos, Lead UI/UX Designer 1 yr, 2 mos</p>
            <p><span class="c-icon-main"><img src="img/icon/icon-ekrut-profile-keahlian.svg"></span> <strong>UI (User Interface)</strong> Design 6 yrs, UX(User Experience) Design 6 yrs, UX Research 3 yrs</p>
          </div>
          <div class="col-12 text-right">
            <button class="c-button-main">View Profile</button>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">2</div>
      <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">3</div>
      <div class="tab-pane fade" id="pills-deal" role="tabpanel" aria-labelledby="pills-deal-tab">4</div>
      <div class="tab-pane fade" id="pills-reject" role="tabpanel" aria-labelledby="pills-reject-tab">5</div>
    </div>
  </section>
</div>



<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>