<!-- <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" /> -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,600" rel="stylesheet">
<link 
    rel="stylesheet" 
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
    crossorigin="anonymous">
<link 
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" 
    rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" 
    crossorigin="anonymous">
<link 
    rel="stylesheet" 
    type="text/css" 
    href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link 
    rel="stylesheet" 
    href="style/dashboard.css" 
    type="text/css" 
    media="all" />


<header>
  <div class="navmenu-container">
    <div class="container">
      <nav class="navmenu">
        <div class="navmenu__logo">
          <a href="/" title="Ekrut.com">
            <div class="logo">
              <h1>
                <img class="navmenu__logo__image" src="img/logo-white.svg" alt="logo">
                <span class="logo__text">Ekrut.com</span>
              </h1>
            </div>
          </a>
        </div>

        <div class="navmenu__list">
          <div class="navmenu__list__icon--bar">
            <i class="fa fa-bars" aria-hidden="true"></i>
          </div>

          <div class="menu">
            <div class="navmenu__list__icon--close">
              <i class="fa fa-times-circle" aria-hidden="true"></i>
            </div>
            <ul>
              <li> <a href="#" title="Activity Board">Activity Board</a></li>
              <li> <a href="#" title="Find Talents">Find Talents</a></li>
              <li><a href="#" title="Bookmarks">Bookmarks</a></li>
              <li><a href="#" title="Interviews">Interviews<span class="navmenu__counter">9</span></a></li>
              <li class="menu-dropdown">
                <button class="menu-dropdown__button">
                  <div class="menu__profile">JohnDoa</div> 
                  <span class="imgProfile"><img src="img/author.jpg"></span>
                  <i class="fa fa-angle-down align-self-center" aria-hidden="true"></i>
                </button>
                <ul class="menu-dropdown__list">
                  <li><a href="#" title="Marketplace">Marketplace</a></li>
                  <li><a href="#" title="Headhunting">Headhunting</a></li>
                  <li><a href="#" title="Pricing">Pricing</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>

        <div class="clearfix"></div>
      </nav>
    </div>
  </div>
</header>

<div class="row no-gutters dashboard-wrapper">
  <aside class="col-md-2 dashboard-sidebar">
    <button class="dashboard-sidebar__create">
      <i class="fa fa-plus-circle text-info fa-lg align-self-center" aria-hidden="true"></i> 
      <div class="dashboard-sidebar__create__title">Create Position</div>
    </button>
    <ul class="dashboard-sidebar__list">
      <li><a href="#">Software Engineer</a></li>
      <li><a href="#">Backend Engineer</a></li>
      <li><a href="#">Backend Engineer</a></li>
      <li><a href="#">Marketing Manager</a></li>
    </ul>
  </aside>

  <section class="col-md-10">
    <div class="dashboard-content__header pb-4 pb-md-3 pt-1">
    <h2 class="dashboard-content__title l-dashboard-padding text-center border-bottom-0">How can we help you find Candidate ?</h2>
    <div class="container text-center">
      <a href="#" class="c-button-main mr-md-5">Fulltime Talent</a>
      <a href="#" class="c-button-main c-button-main--disabled u-employer-landing__coming-soon">Freelance Talent</a>
    </div>
  </div>
    <div class="dashboard-content__content">
      <div class="container col-md-9">
        <div class="row p-4 c-card">
          <div class="col-3 align-self-center text-center d-none d-sm-block">
            <img class="img-fluid" src="img/employer-landing.jpg">
          </div>
          <div class="col-md-9 u-text-description">
            <div class="h4">Welcome to EKRUT!</div>
            <br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus mattis eros
            vestibulum consequat eleifend. Nullam lacinia sapien in justo tempus feugiat.
            Etiam aliquet nisi id turpis sollicitudin rhoncus. 
            <br><br>
            Please reach out to me with question or feedback at Mellisa@ekrut.com
            <br><br>
            Happy hiring!<br>
            Mellisa
          </div>
        </div>
      </div>
    </div>
  </section>
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
