<link href="https://fonts.googleapis.com/css?family=Montserrat:400,600" rel="stylesheet">
<link 
  rel="stylesheet" 
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
  crossorigin="anonymous">
<link 
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" 
  rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" 
  crossorigin="anonymous">
<link 
  rel="stylesheet" 
  type="text/css" 
  href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<!-- additional -->
<link 
  rel="stylesheet" 
  href="style/onlinetest.css" 
  type="text/css" 
  media="all" />


<section class="onlinetest onlinetest__header--lg">
  <div class="headTagLine d-flex align-items-center">
    <div class="container onlinetest__tagline">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb--light">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">HTML5</li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="container l-onlinetest__content">
    <div class="row mb-5 l-onlinetest__header">
      <div class="c-card text-center col-md-3 col-8 offset-2 offset-md-0">
        <img class="img-fluid my-3" src="img/skills/skill4-lg.png">
        <div class="onlinetest__skill__title">HTML 5</div>
        <div class="onlinetest__skill__subtitle mt-1 mb-4">Level 1</div>
      </div>
      <div class="col-md-9 pl-md-5">
        <div class="l-row-6 l-row-xxs-0 onlinetest__header__title">
          <p class="d-inline h5 font-weight-bold">HTML 5</p> 
          <span class="ml-3 mr-4 c-tag-label__item c-tag-label__item--light">Level 1</span>
          <img src="img/skills/badge1.png">
        </div>
        <div class="l-row-6 l-row-xxs-0 onlinetest__header__subtitle">
          <p class="mb-1 mt-4 text-secondary">20 Pertanyaan | 20 Menit</p>
          <p class="mb-3">Pemrograman</p>
          <a href="#" class="c-button-main c-button-main--disabled c-button--thin-md">CLOSED</a>
          <span class="u-text-xs d-block d-sm-inline mt-3 ml-2">Anda dapat melakukan tes dalam 30 Hari</span>
        </div>
      </div>
    </div>
    <div class="row u-xss-px mb-5">
      <div class="c-card-title onlinetest__tag-title">
        Riwayat Pengerjaan
      </div>
      <div class="c-card c-card--lg col-12">
        <table class="c-table-clean u-text-sm">
          <tr>
            <th>Date</th>
            <th>Score</th>
            <th>Reward</th>
          </tr>
          <tr>
            <td>26/2/2018 11:54</td>
            <td>85</td>
            <td>Badge (Valid sampai 22/7/2018)</td>
          </tr>
          <tr>
            <td>22/2/2018 19:20</td>
            <td>0</td>
            <td>-</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row u-xss-px">
      <div class="c-card-title onlinetest__tag-title">
        Overview
      </div>
      <div class="c-card c-card--lg">
        <p class="mb-4">Orci justo nibh. Donec quisque metus magna diam vehicula. Nulla luctus lacus. Senectus et eget neque sem velit vitae nam mauris. Condimentum vivamus faucibus. Tellus felis sapien maecenas natoque nulla dictum aliquam nulla purus cursus eget. Elit sapien parturient. Tortor imperdiet sociis. Lorem tellus suspendisse.</p>
        <ul class="onlinetest__guidance">
          <li>Anda hanya akan diberikan 1 kali kesempatan menjawab</li>
          <li>Badge akan diberikan jika anda menjawab lebih dari 50% soal dengan benar</li>
          <li>Anda dapat melakukan test ulang setelah 2 minggu</li>
        </ul>
      </div>
    </div>
  </div>
</section>



<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>