<link href="https://fonts.googleapis.com/css?family=Montserrat:400,600" rel="stylesheet">
<link 
    rel="stylesheet" 
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
    crossorigin="anonymous">
<link 
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" 
    rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" 
    crossorigin="anonymous">
<link 
    rel="stylesheet" 
    type="text/css" 
    href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link 
    rel="stylesheet" 
    href="style/dashboard.css" 
    type="text/css" 
    media="all" />



<section class="container">
  <div class="c-card">
    <div class="container c-form-full px-5">
      <div class="c-form-full__title my-3 mb-5">Company Profile</div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label>Company Name</label>
            <p>EKRUT</p>
          </div>
          <div class="form-group">
            <label>Company Legal Name</label>
            <p>EKRUT</p>
          </div>
          <div class="form-group">
            <label>Address</label>
            <p>EKRUT</p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Company Website</label>
            <p>https://www.ekrut.com</p>
          </div>
          <div class="form-group">
            <label>Company Size</label>
            <p>200</p>
          </div>
          <div class="form-group">
            <label>Industry</label>
            <p>ekrut</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
