@import 'global.css';
@import 'navbar-blog.css';

/*TODO - deletethis*/
body{
  font-family: 'Montserrat', san-serif;
}
button:focus{
  outline: none;
}
/*END: TODO - deletethis*/

.blog-list__img--highlight .blog-list__img__title{
  font-size: 1.3em;
  font-weight: bold;
  line-height: 130%;
}

.blog-list__img__title{
  font-size: 0.8em;
}

.blog-list__img{
  position: relative;
  border-top: 10px solid #004376;
  background-color: #aaa;
  font-size: 18px;
  font-weight: 300;
  overflow: hidden;
  justify-content: center;
  align-self: center;
  height: 350px;
}

.blog-list__img > img{
  object-fit: cover;
  width: 100%;
  min-height: 350px;
}

.blog-list__img__caption{
  background: rgba(0,0,0,0.7);
  color: #dedede;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 6.5em;
  line-height: 1.3em;
  z-index: 2;
}

.blog-list__img__meta{
  margin: 5px 0 0;
  font-weight: 400;
  font-size: 14px;
  position: absolute;
  bottom: 0.7em;
  color: #ccc;
}
.blog-list__img__meta > strong{
  font-weight: 600;
}


/*blog-detail page*/
.blog-detail{
  line-height: 140%;
}
.blog-detail__header{
  margin-bottom: 1em;
}
.blog-detail__title{
  font-weight: 600;
  font-size: 2rem;
  color: #444;
  line-height: 140%;
}
.blog-detail__article{
  margin-top: 0.8em;
  color: #838383;
}
.blog-detail__source a{
  color: #004275;
}

/*c-cta daftar sekarang*/
.c-cta-join{
  line-height: 140%;
}
.c-cta-join__title{
  font-weight: 600;
}
.c-cta-join__line{
  border-top: 3px solid #004376;
}
.c-cta-desc{
  font-size: 0.8em;
}

/*copas*/
.crosscol{
padding:15px 0;
margin:0 0 45px;
}
.crosscol .left{
float:left;
width:700px;
text-transform:uppercase;
}
.crosscol .left ul,.crosscol .left li{
padding:0;
margin:0;
list-style:none;
}
.crosscol .left li{
float:left;
margin:0 10px 0 0;
padding:0;
font-weight:600;
color:#444;
}
.crosscol .left li.active{
border-bottom:4px solid #5bb8ff;
padding:5px 25px;
}
.crosscol .left li a{
display:block;
color:#444;
padding:5px 25px;
text-decoration:none;
border-bottom:4px solid transparent;
}
.crosscol .left li a:hover{
border-color:#5bb8ff;
}
.crosscol .right{
float:right;
width:220px;
}
.crosscol .right .searchBox{
position:relative;
width:220px;
height:38px;
overflow:hidden;
border-radius:22px;
box-shadow:1px 1px 10px rgba(0,0,0,.15);
}
.crosscol .right .textArea{
border:none;
height:38px;
line-height:38px;
padding:0 45px 0 22px;
margin:0;
border-radius:22px;
width:220px;
position:absolute;
right:0;
top:0;
}
.crosscol .right button{
background:none;
border:none;
color:#ddd;
height:38px;
line-height:38px;
width:40px;
text-align:center;
position:absolute;
right:0;
top:0;
cursor:pointer;
}
.blog-detail__post .share{
border:1px solid #ddd;
padding:10px;
border-radius:3px;
margin:25px 0;
}
.blog-detail__post .share .title{
text-transform:uppercase;
font-weight:600;
padding:0;
margin:0 10px 0 0;
}
.blog-detail__post .share .social{
height:38px;
width:38px;
line-height:38px;
text-align:center;
color:#fff;
display:inline-block;
background:#eee;
margin:0 4px;
border-radius:3px;
vertical-align: middle;
}
.blog-detail__post .share .social.fb,.blog-detail__post .share .social.thumbs-up{
background:#415cb2;
}
.blog-detail__post .share .social.tw{
background:#009cf3;
}
.blog-detail__post .share .social.gp{
background:#ed0029;
}
.blog-detail__post .share .social.pi{
background:#cd0000;
}
.blog-detail__post .share .social a{
color:#fff;
text-decoration:none;
display:block;
padding: 10px 0;
}
.blog-detail__post .prevNext{
border-bottom:4px solid #004376;
padding:0 0 15px;
margin:15px 0;
font-size:14px;
font-weight:600;
}
.blog-detail__post .prevNext .title{
color:#666;
margin:0 0 5px;
padding:0 0 5px;
font-size:18px;
}
.blog-detail__post .prevNext .prev{
width:40%;
overflow:hidden;
float:left;
margin:0 0 0 10px;
}
.blog-detail__post .prevNext .next{
width:40%;
overflow:hidden;
float:right;
text-align:right;
margin:0 10px 0 0;
}
.blog-detail__post .prevNext .prev a{
color:#999;
text-decoration:none;
border-left:4px solid #004376;
display:block;
padding:15px 0 15px 15px;
margin:0 0 5px 0;
}
.blog-detail__post .prevNext .next a{
color:#999;
text-decoration:none;
border-right:4px solid #004376;
display:block;
padding:15px 15px 15px 0;
margin:0 0 5px 0;
}
.blog-detail__post .prevNext .prev a:hover,
.blog-detail__post .prevNext .next a:hover{
color: #004376;
}
.blog-detail__post .author{
padding:15px;
margin:25px 0 0;
background:#fff;
box-shadow:1px 1px 10px rgba(0,0,0,0.15);
border-radius:6px;
}
.blog-detail__post .author .left{
float:left;
height:150px;
width:150px;
background:#eee;
border-radius:50%;
overflow:hidden;
}
.blog-detail__post .author .left img{
height:150px;
width:150px;
border-radius:50%;
}
.blog-detail__post .author .right{
float:left;
margin:0 0 0 15px;
color:#666;
width: 65%;
}
.blog-detail__post .author .right .title{
padding:0 0 5px;
margin:0 0 5px;
font-size:22px;
font-weight:600;
}
.blog-detail__post .author .right .subtitle{
padding:0;
margin:0 0 5px;
font-size:16px;
font-weight:600;
}
.blog-detail__post .author .right .description{
padding:0 0 5px;
margin:0 0 5px;
font-size:13px;
line-height:1.3em;
}
.blog-detail__post .author .right .shareAuthor a{
font-size:22px;
color:#ccc;
margin:0 10px 0 0;
}
.blog-detail__post .relatedArticles{
padding:10px 0;
margin:15px 0;
}
.blog-detail__post .relatedArticles .nav-tabs{
border:none;
}
.blog-detail__post .relatedArticles .nav-tabs .nav-item{
margin-bottom:0;
}
.blog-detail__post .relatedArticles .nav-link{
padding:0 15px 8px;
margin:0 10px 0 0;
font-weight:600;
color:#999;
font-size:18px;
border:none;
}
.blog-detail__post .relatedArticles .nav-link.active{
border-bottom:4px solid #004376;
}
.blog-detail__post .relatedArticles .tab-content .slider{
margin:15px 0 0 0;
position:relative;
}
.blog-detail__post .relatedArticles .tab-content .slider .lslide{
background:#eee;
height:180px;
border-top: 4px solid #004376;
}
.blog-detail__post .relatedArticles .tab-content .slider .lslide a{
width:100%;
height:180px;
display:block;
position:relative;
overflow:hidden;
}
@media (max-width: 600px) {
.blog-detail__post .relatedArticles .tab-content .slider .lslide a{
  font-size: 0.8em;
}
}
.blog-detail__post .relatedArticles .tab-content .slider .lslide a img{
position:absolute;
object-fit: cover;
z-index:1;
}
.blog-detail__post .relatedArticles .tab-content .slider .lslide a .caption{
background:rgba(0,0,0,.5);
color:#fff;
text-decoration:none;
padding:10px;
position:absolute;
left:0;
right:0;
bottom:0;
z-index:2;
line-height:1.3em;
}
.blog-detail__post .relatedArticles .tab-content .slider .navSlider{
width:75px;
height:36px;
margin:15px auto 0;
display:block;
}
.blog-detail__post .relatedArticles .tab-content .slider .navSlider .prev{
float:left;
height:36px;
line-height:36px;
width:36px;
text-align:center;
color:#014477;
font-size:36px;
cursor:pointer;
}
.blog-detail__post .relatedArticles .tab-content .slider .navSlider .next{
float:right;
height:36px;
line-height:36px;
width:36px;
text-align:center;
color:#014477;
font-size:36px;
cursor:pointer;
}

/* Sidebar */
.blog .main-blog .right .sidebar{
margin:75px 0 0;
}
.blog .main-blog .right .sidebar .widget{
margin:0 0 10px;
padding:0 0 5px;
}
.blog .main-blog .right .sidebar .widget.register{
margin:0 0 15px;
padding:0 0 15px;
}
.blog .main-blog .right .sidebar .widget.register .content{
padding:0 55px;
text-align:center;
}
.blog .main-blog .right .sidebar .widget.register .content .logoText{
height:22px;
width:69px;
display:inline-block;
background:url(../img/logo.png) no-repeat -0px -1px;
background-size:69px 22px;
vertical-align:bottom;
margin:0 0 0 5px;
padding:0;
-webkit-filter: invert(80%);
filter: invert(80%);
}
.blog .main-blog .right .sidebar .widget.register .content .logoText span{
display:none;
}
.blog .main-blog .right .sidebar .widget.register .button{
display:block;
width:200px;
margin:20px auto;
padding:10px 20px;
background:#5bb8ff;
border-radius:20px;
color:#fff;
text-align:center;
text-transform:uppercase;
font-size:12px;
box-shadow:1px 1px 10px rgba(91,184,255,.5);
cursor:pointer;
}
.blog .main-blog .right .sidebar .widget .title{
font-weight:600;
border-bottom:4px solid #004376;
font-size:18px;
padding:0 0 10px;
margin:0 0 15px;
text-align:center;
word-spacing:5px;
}
.blog .main-blog .right .sidebar .widget .title .logoText{
height:26px;
width:82px;
display:inline-block;
background:url(../img/logo.png) no-repeat -0px 1.5px;
background-size:82px 26px;
vertical-align:bottom;
margin:0;
padding:0;
-webkit-filter: invert(100%);
filter: invert(100%);
}
.blog .main-blog .right .sidebar .widget .title span{
display:none;
}
.blog .main-blog .right .sidebar .widget .content .list-content .sub-title{
color:#5bb8ff;
font-weight:600;
border-bottom:4px solid #004376;
font-size:18px;
padding:0 0 10px;
margin:0 0 10px;
}
.blog .main-blog .right .sidebar .widget .content .list-content{
padding:15px;
margin:0 0 15px;
box-shadow:1px 1px 10px rgba(0,0,0,0.15);
border-radius:3px;
color:#444;
}
.blog .main-blog .right .sidebar .widget .content .list-content .details{
display:block;
margin:5px 0 0;
padding:5px 0 0;
text-align:right;
}
.blog .main-blog .right .sidebar .widget .content .list-content .details a{
color:#004376;
text-decoration:none;
}
.s-caption{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
height: 100%;
}
/*END: copas*/