.c-card{
  border-radius: 4px;
  background-color: #fff;
  padding: 1em;
  /*margin-bottom: 1em;*/
  box-shadow: 1px 1px 10px rgba(0,0,0,.1);
  position: relative;
}
.c-card.c-card--view-talent{
  padding: 3em 5em;
}
.c-card.c-card--lg{
  padding: 1.5em 2em;
}
.c-card:last-child{
  margin-bottom: 0;
}
.c-card__line--full{
  padding: 0;
  margin: 1em -1em;
}
.c-card__bookmark{
  position: absolute;
  top: 13px;
  right: 10px;
  font-size: 1.2em;
}
.c-card__bookmark ~ .c-card__candidate-status{
  right: 35px;
}
.c-card__candidate{
  display: inline-block;
  font-weight: 600;
  color: #444;
}
.c-card__candidate-preference{
  display: inline-block;
  font-size: 0.8em;
  color: #797979;
}
.c-card__candidate-photo{
  width: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 15px 0 5px;
  display: inline-block;
  background-color: #ddd;
  border: 2px solid #fff;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.1)
}
.c-card__candidate-photo.c-card__candidate-photo--small{
  width: 45px;
  margin: 0 0.5em 0 0;
}
.c-card__candidate-photo.c-card__candidate-photo--full{
  width: 100%;
}
.c-card__candidate__address{
  font-size: 0.9em;
  margin-top: 2px;
}
.c-card__header{
  min-height: 70px;
}
.c-card__header--blended{
  margin-top: -110px;
}
.c-card__profile-center{
  color: #727272;
}
.c-card__profile-center__image{
  width: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 15px 0 5px;
  display: inline-block;
  background-color: #ddd;
  border: 2px solid #fff;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
}
.c-card__candidate-status{
  position: absolute;
  display: inline-block;
  top: 10px;
  right: 10px;
  border-radius: 15px;
  text-align: center;
  font-size: 11px;
  color: #bfc2c5;
  background-color: #e7f3ff;
  font-weight: bold;
  padding: 0.8em 1.1em;
}
.c-card__candidate-status.c-card__candidate-status--inline{
  position: relative;
  right: auto;
  top: auto;
  margin-right: 1em;
}
.c-card__candidate-status.c-card__candidate-status--waiting{
  background-color: #e7f3ff;
}
.c-card__content{
  position: relative;
}
.c-card__content > p{
  font-size: 0.85em;
  margin-bottom: 0.8em;
}
.c-card__content strong{
  font-weight: 600;
}

/*c-card section*/
.c-card__section{
  position: relative;
  color: #727272;
  margin-bottom: 1em;
  line-height: 140%;
}
.c-card__section:after{
  content: '';
  display: block;
  width: 104%;
  border-bottom: 1px solid #5bb8ff;
  margin: 1em -3%;
}
.c-card__section:last-child:after{
  display: none;
}
.c-card__section__edit{
  position: absolute;
  right: 0;
}
.c-card__section__item{
  margin: 1em 0;
}
.c-card__section__item:after{
  content: '';
  display: block;
  border-bottom: 1px solid #5bb8ff;
  width: 90%;
  margin: 1em auto;
}
.c-card__section__item:last-child:after{
  border-bottom: none;
}
.c-card__subtitle{
  font-weight: 600;
  margin-bottom: 0.5em;
}
.c-card__subcontent{
  padding: 0 1em;
  font-size: 0.85em;
}
.c-card__subcontent__key{
  font-weight: 600;
  padding: 0.4em 0;
}
.c-card__subcontent__value{
  padding: 0.4em 0;
}

.c-card-title{
  border: 1px solid #e0e0e0;
  border-left: 0;
  border-radius: 1px;
  color: #8b8b8b;
  position: relative;
  padding: 0.8em 1em;
  font-size: 0.9em;
  font-weight: 600;
}
.c-card-title.c-card-title--lg{
  padding: 1em 2em;
}
.c-card-title:before{
  content: '';
  position: absolute;
  top: -1px;
  left: 0;
  height: calc(100% + 2px);
  width: 4px;
  background-color: #5bb8ff;
}

.c-card-result{
  border-radius: 4px;
  background-color: #fff;
  padding: 2.5em 5em;
  box-shadow: 1px 1px 10px rgba(0,0,0,.1);
  position: relative;
  text-align: center;
}

.c-card-result hr{
  border-top: 1px solid #595959;
}
.c-card-result__score{
  font-size: 1.8em;
  font-weight: bold;
  margin: 0.7em 0;
}
.c-card-result__data{
  text-align: left;
  width: 70%;
  margin: 2em auto;
  padding: 1.5em 1.8em;
  font-size: 0.95em;
  border-top: 1px solid #444;
  border-bottom: 1px solid #444;
}
.c-card-result__data:after{
  content: '';
  display: block;
  clear: both;
}
.c-card-result__data > p{
  float: left;
  margin-bottom: 1em;
}
.c-card-result__data > p:nth-of-type(odd){
  width: 90%;
}
.c-card-result__data > p:nth-of-type(even){
  width: 10%;
}
.c-card-result__guidance{
  font-size: 0.8em;
}

@media (max-width: 768px){
  .c-card-result{
    padding: 2em;
  }
  .c-card-result__data{
    width: 80%;
  }
  .c-card.c-card--view-talent{
    padding: 2em 3em;
  }
  .c-card__candidate-status{
    position: relative;
    display: block;
    margin-bottom: 2em;
  }
}
