.c-dropdown .dropdown-submenu {
  position: relative;
}

.c-dropdown .dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.c-dropdown .dropdown-submenu>.dropdown-menu--left {
  left: auto;
  right: 100%;
}

.c-dropdown .dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.c-dropdown .dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

/*.c-dropdown .dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}
*/
.c-dropdown .dropdown-submenu.pull-left {
  float: none;
}

.c-dropdown .dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

.c-dropdown .dropdown-item:active{
  background-color: transparent;
  color: #000;
}

.c-dropdown .dropdown-item a{
  color: #212529;
  text-decoration: none;
  width: 100%;
  display: block;
}

.c-card .dropdown-item > a{
  padding-left: 5px;
}
.c-card .dropdown-submenu > a{
  padding-left: 29px;
}
.c-card .dropdown-menu .text-info:before{
  font-family: FontAwesome;
  content: '\f060';
  position: absolute;
  left: 0.5rem;
}
.c-card .dropdown-menu .text-warning:before{
  font-family: FontAwesome;
  content: '\f073';
  position: absolute;
  left: 0.5rem;
}
.c-card .dropdown-menu .text-danger:before{
  font-family: FontAwesome;
  content: '\f057';
  position: absolute;
  left: 0.5rem;
}
.c-card .dropdown-menu .text-success:before{
  font-family: FontAwesome;
  content: '\f00c';
  position: absolute;
  left: 0.5rem;
}
.c-card .dropdown-menu .text-primary:before{
  font-family: FontAwesome;
  content: '\f00c';
  position: absolute;
  left: 0.5rem;
}