/*full form*/
.c-form-full{
  color: #484848;
}
.c-form-full label{
  font-weight: 600;
  margin-bottom: 0.6em;
  font-size: 0.75em;
}
.c-form-full p{
  color: #444;
  margin-top: 0.2em;
}
.c-form-full .form-group{
  padding-bottom: 0.5em;
}
.c-form-full input::placeholder,
.c-form-full textarea::placeholder {
  color: #c4c4c4;
  opacity: 1;
}
.c-form-full select{
  color: #aaa;
}
.c-form-full select:focus,
.c-form-full select option:checked{
  color: #444;
}
.c-form-full__title{
  font-size: 1.2em;
}