.c-modal{
  line-height: 140%;
  letter-spacing: 0.3px;
  color: #484848;
}
.c-modal .modal-header{
  padding-bottom: 0.4em;
}
.c-modal .modal-content{
  border-radius: 0;
}
.c-modal-header{
  font-size: 1.15em;
  border-bottom: 1px solid #d7d7d7;
}
.c-modal__close{
  position: absolute;
  top: 0.7em;
  right: 0.6em;
}
.c-modal__layout-control > button{
  margin-bottom: 0.3em;
}


.c-modal-info{
  background-color: #ebebeb;
}
.c-modal-info__row{
  border-top: 1px solid #d7d7d7;
}
.c-modal-info__row:last-child{
  border-bottom: 1px solid #d7d7d7;
}
.c-modal__title{
  margin-bottom: 0.3em;
  font-size: 1.2em;
}
.c-modal__title--head{
  text-align: center;
}
.c-modal__subtitle{
  font-size: 0.75em;
  font-weight: 600;
  margin-bottom: 0.6em;
}
.c-modal__description{
  color: #1e1e1e;
}
.c-modal input,
.c-modal select,
.c-modal textarea{
  font-size: 0.9em;
}