.c-ribbon{
	display: inline-block;
	position: absolute;
	bottom: 10px;
	left: -5px;
	padding: 0.3em 1.2em;
	background-color: #3498db;
	color: #fff;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  text-transform: uppercase;
  font-size: 12px;
}

.c-ribbon:before{
  content: '';
  display: block;
  position: absolute;
  bottom: -7px;
  left: -4px;
  width: 9px;
  height: 6px;
  border-bottom: 7px solid transparent;
  border-right: 5px solid #1481ca;
}
