.c-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.c-switch input {display:none;}

.c-switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.c-switch__slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.c-switch input:checked + .c-switch__slider {
  background-color: #2196F3;
}

.c-switch input:focus + .c-switch__slider {
  box-shadow: 0 0 1px #2196F3;
}

.c-switch input:checked + .c-switch__slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.c-switch__slider.--round {
  border-radius: 34px;
}

.c-switch__slider.--round:before {
  border-radius: 50%;
}