@import 'global.css';
@import 'navbar.css';
@import 'grid-vertical.css';
@import 'c-card.css';
@import 'c-modal.css';
@import 'c-form-full.css';
@import 'c-dropdown.css';
@import 'c-switch.css';
@import 'c-ribbon-corner.css';

/*deletethis*/
body{
  font-family: 'Montserrat', san-serif;
}
button:focus{
  outline: none;
}
/*END: deletethis*/


/*specific employer-activity*/
.l-employer-activity{
  margin: 0 0 1em 0;
}
.l-employer-activity:last-child{
  margin-bottom: 0;
}
.l-employer-activity .dropdown-toggle:after{
  display: none;
}
.l-employer-activity__schedule .c-card{
  height: 100%;
}
.c-card--vertical{
  height: 100%;
}
/*END: specific employer-activity*/

/*specific employer-landing*/
.u-employer-landing__coming-soon:after{
  content: 'Coming soon!';
  display: inline-block;
  width: 100%;
  position: absolute;
  left: 90%;
  pointer-events: none;
  color: #b7b7b7;
}

.dashboard-wrapper{
  width: 100%;
  font-size: 16px;
  min-height: calc(100vh - 60px);
  background-color: #ececec;
}

.dashboard-content__content .c-card{
  margin-bottom: 1em;
}

/*aside sidebar*/
.dashboard-sidebar{
  background-color: #f7fbff;
  letter-spacing: 0.5px;
  font-size: 0.9em;
  overflow-y: auto;
}
.dashboard-sidebar__search{
  padding: 0.5em 1em;
}
.dashboard-sidebar__list > li > a{
  color: #727272;
  padding: 1em;
  display: block;
  transition: 0.3s ease-out all;
}
.dashboard-sidebar__list > li > a:hover{
  background-color: #e7f3ff;
  text-decoration: none;
}
.dashboard-sidebar__create{
  width: 100%;
  color: #727272;
  padding: 1em;
  display: flex;
  transition: 0.3s ease-out all;
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-align: left;
  border-bottom: 1px solid #eee;
}
.dashboard-sidebar__create:hover{
  background-color: #e7f3ff;
}
.dashboard-sidebar__create > i{
  margin-right: 0.5em;
}
.dashboard-sidebar__create__title{
  width: 80%;
}

.dashboard-sidebar__more{
  display: block;
  text-align: center;
  padding: 0.4em 0;
}

/*main*/
.dashboard-content__title{
  border-bottom: 3px solid #d8d8d8;
  font-size: 1.2em;
  font-weight: 600;
  color: #555;
}
.dashboard-content__header{
  position: relative;
  box-shadow: 5px 5px 10px #ccc;
  background-color: #fff;
}
.dashboard-content__header__back{
  position: relative;
  display: inline-block;
  color: #ccc;
  padding: 1em 0;
  margin-left: 5em;
  transition: 0.3s ease-out all;
}
.dashboard-content__header__back:before{
  content: '<';
  position: absolute;
  top: 0;
  left: -2em;
  font-size: 1.4em;
  height: 100%;
  display: flex;
  align-items: center;
  font-weight: bold;
}
.dashboard-content__header__back:hover{
  color: #444;
  text-decoration: none;
}


.dashboard-content__content{
  background-color: #ececec;
  padding: 1em;
}

/*dashboard position view tab*/
.dashboard__position-tab{
  padding: 1.5em 1em 0;
  background-color: #ececec;
}
.dashboard__position-tab .nav-link{
  color: #444;
  border-radius: 0;
  font-weight: 600;
  border-bottom: 4px solid #98d3ff;
}
.dashboard__position-tab .nav-link.active,
.dashboard__position-tab .show>.nav-link{
  background-color: transparent;
  color: #444;
  border-bottom: 4px solid #004376;
}
.dashboard__position-tab .nav-item{
  margin: 0 0.5em 1em;
}

@media (max-width: 768px) {
  .dashboard-sidebar{
    /*max-height: 25vh;*/
  }
  .u-employer-landing__coming-soon:after{
    left: 0;
    top: 120%;
    font-size: 0.9em;
  }
}