a, a:hover{
  text-decoration: none;
}
b, strong{
  font-weight: 600;
}

/*company viewprofile*/
.s-company-desc{
  font-size: 0.85em;
}
.s-company-desc > .col-md-6 > div{
  margin-bottom: 0.6em;
}
.s-company-desc > div{
  font-size: 1em;
}
.s-company-desc > div b{
  display: block;
}


/*progress bar bootstrap*/
.progress--base{
  background-color: #d5edff;
  height: 0.8rem;
  border-radius: 0.5rem;
}
.progress-bar--base{
  background-color: #5bb8ff;
}

.c-tag-label .c-tag-label__item{
  margin: 0.15em 0.5em 0.15em 0;
}
.c-tag-label__item{
  color: #68beff;
  border: 2px solid #68beff;
  border-radius: 25px;
  display: inline-block;
  text-align: center;
  padding: 0.4rem 1.1rem;
  font-weight: 600;
  font-size: 0.9rem;
}
.c-tag-label__item.--light{
  color: #fff;
  border: 2px solid #fff;
}
.c-tag-label__item.--dark{
  font-weight: 400;
  color: #004376;
  padding: 0.25em 1.1em;
  border: 1px solid #004376;
}
.c-tag-label__item.--sm{
  font-size: 0.75em;
  padding: 0.3em 1.3em;
  line-height: 100%;
}

/*component - button*/
.c-button-main{
  position: relative;
  display: inline-block;
  background-color: #5bb8ff;
  border-radius: 40px;
  padding: 0.7rem 1.5rem;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 600;
  cursor: pointer;
  border: 2px solid transparent;
  transition: 0.25s ease all;
}
.c-button-main:hover{
  text-decoration: none;
  color: #fff;
  background-color: #004376;
}
.c-button-main.c-button--danger{
  background-color: #dc3545;
}
.c-button-main.c-button--success{
  background-color: #28a745;
}
.c-button-main.c-button-main--disabled{
  color: #ebebeb;
  background-color: #b7b7b7;
  cursor: default;
}

.c-button-ghost{
  display: inline-block;
  border: 2px solid #5bb8ff;
  border-radius: 40px;
  padding: 0.7rem 1.5rem;
  color: #5bb8ff;
  background-color: transparent;
  font-size: 0.8rem;
  font-weight: 600;
  transition: 0.25s ease all;
  cursor: pointer;
  transition: 0.25s ease all;
}
.c-button-ghost:hover{
  text-decoration: none;
  color: #004376;
  border: 2px solid #004376;
}

.c-button-square{
  display: block;
  border: none;
  width: 100%;
  padding: 0.5em;
  font-weight: 600;
  border-radius: 2px;
  box-shadow: 1px 1px 10px rgba(0,0,0,.15);
  cursor: pointer;
  transition: 0.3s ease-out all;
}
.c-button-square:hover{
  box-shadow: none;
}
.c-button-square > i{
  margin-left: 0.5em;
}
.c-button-square.c-button-square--success{
  color: #fff;
  background-color: #1ee97f;
}
.c-button-square.c-button-square--light{
  color: #666;
  background-color: #fff;
  font-size: 0.8em;
}
.c-button-square.c-button-square--info{
  color: #fff;
  background-color: #5bb8ff;
}
.c-button-square.c-button-square--warning{
  color: #fff;
  background-color: #e91e63;
}
/*component button utility*/
.c-button--full{
  width: 100%;
  padding: 0.7em 0.5em;
}
.c-button--long{
  padding: 0.3em 3em;
}
.c-button--thin{
  padding: 0.3em 0.5em;
}
.c-button--thin-md{
  padding: 0.3em 1.5em;
}
.c-button--square{
  border-radius: 4px;
}
.c-button--shadow{
  box-shadow: 1px 1px 8px #ccc;
}
.c-button--shadow:hover{
  box-shadow: none;
}

.c-icon-main{
  width: 18px;
  vertical-align: middle;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
.c-icon-main > img{
  width: 100%;
}

.c-input{
  border: none;
  border-bottom: 2px solid #004376;
  border-radius: 0;
  width: 100%;
  /*padding: 0.2rem 0.4rem;*/
}
.c-input:hover,
.c-input:focus{
  box-shadow: none;
  border-color: #5bb8ff;
  outline: none;
}
.c-input::placeholder {
  color: #ccc;
  opacity: 1;
  letter-spacing: 1px;
  font-size: 0.8rem;
}

.c-textarea{
  border: none;
  border-bottom: 2px solid #004376;
  border-radius: 0;
  width: 100%;
  padding: 0.2rem 0.4rem;
}
.c-textarea:focus{
  box-shadow: none;
  border-color: #5bb8ff;
}

.c-select{
  border: 0;
  border-radius: 0;
  box-shadow: 1px 1px 10px rgba(0,0,0,.1);
}
.c-select > .selectize-input{
  border: 0;
  box-shadow: none;
}

.c-table{
  color: #666;
  width: 100%;
}
.c-table > thead{
  border-bottom: 2px solid #5bb8ff;
  font-weight: 600;
}
.c-table > tbody{
  font-size: 0.85em;
}
.c-table > tbody > tr{
  border-bottom: 2px solid #eee;
}
.c-table th,
.c-table td{
  padding: 0.5em 0;
}

.c-table-clean{
  width: 100%;
  table-layout: fixed;
}
.c-table-clean th{
  font-weight: 600;
}
.c-table-clean th,
.c-table-clean td{
  padding: 0.5em;
}

.c-notification{
  display: inline-block;
  padding: 5px 9px;
  line-height: 100%;
  color: #fff;
  background-color: #5bb8ff;
  border-radius: 15px;
}
.c-notification--sm{
  font-size: 0.8em;
  padding: 3px 6px;
  border-radius: 50%;
}
.c-notification__top-right{
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}

/*component utility*/
.c-disabled[disabled]{
  background-color: #f5f5f5;
}

.logo__image--white{
  width:160px;
  height:44px;
  overflow:hidden;
  background:url(../img/logo-white.svg) no-repeat center;
  background-size: 100%;
  display:inline-block;
  vertical-align:top;
}

.breadcrumb--default{
  background-color: transparent;
  font-size: 0.8em;
  padding: 1em 0 0 0;
}
.breadcrumb--default a{
  color: #797979;
}

.breadcrumb--light{
  background-color: transparent;
  color: #fff;
  font-size: 1em;
  padding: 1em 0 0 0;
}
.breadcrumb--light a{
  color: #fff;
}
.breadcrumb--light a:hover{
  color: #ddd;
}


/*utility-global*/
.l-dashboard-padding{
  padding: 1rem 4rem;
}
.l-dashboard-text p,
.l-dashboard-text input,
.l-dashboard-text select{
  margin-bottom: 1.2em;
}
.l-overflow-x{
  overflow-x: auto;
}
@media (max-width: 380px){
  .l-overflow-xxs-x{
    overflow-x: auto;
  }
}
.l-overflow-y{
  overflow-y: auto;
}
.u-text-small,
.u-text-xs{
  font-size: 0.8em;
}
.u-text-sm{
  font-size: 0.9em;
}
.u-text-description{
  font-size: 0.9em;
  line-height: 140%;
  color: #4a4a4a;
}
.u-bold{
  font-weight: 600;
}
.u-icon-padding{
  padding: 0.5em 0.7em;
}
.u-icon-margin{
  margin: 0.2em;
}
.u-fa-medium{
  font-size: 1.4em;
}
.u-fa-filled{
  width: 24px;
  height: 24px;
  padding: 6px 0;
  border-radius: 20px;
  font-size: 0.75em;
}
.u-fa-filled.u-fa-filled--info{
  background-color: #5bb8ff;
  color: #fff;
}
.u-description{
  line-height: 140%;
  color: #888888;
}
.u-title{
  line-height: 150%;
  color: #333;
}

@media (max-width: 768px) {
  .breadcrumb--light{
    font-size: 0.8em;
    justify-content: center;
  }
  .c-table-clean{
    font-size: 0.85em;
  }
  .u-xss-px{
    padding: 0 15px;
  }
}