[class*="l-col-"] {float: left;}
.l-col-1  {width: 8.333333%;}
.l-col-2  {width: 16.666666%;}
.l-col-3  {width: 25%;}
.l-col-4  {width: 33.333333%;}
.l-col-5  {width: 41.666666%;}
.l-col-6  {width: 50%;}
.l-col-7  {width: 58.333333%;}
.l-col-8  {width: 66.666666%;}
.l-col-9  {width: 75%;}
.l-col-10 {width: 83.333333%;}
.l-col-11 {width: 91.666666%;}
.l-col-12 {width: 100%;}

.l-row-1  {height: 8.333333%;}
.l-row-2  {height: 16.666666%;}
.l-row-3  {height: 25%;}
.l-row-4  {height: 33.333333%;}
.l-row-5  {height: 41.666666%;}
.l-row-6  {height: 50%;}
.l-row-7  {height: 58.333333%;}
.l-row-8  {height: 66.666666%;}
.l-row-9  {height: 75%;}
.l-row-10 {height: 83.333333%;}
.l-row-11 {height: 91.666666%;}
.l-row-12 {height: 100%;}

@media (max-width: 768px) {
  .l-row-xxs-0  {height: auto;}
}