.navmenu-container{
width: 100%;
position: static;
z-index: 10;
top: 1em;
}
.navmenu-container--dark{
background-color: #004376;
top: 0;
padding: 0.5em 0;
}
.navmenu{
padding:0;
margin:0;
}
.navmenu__logo{
float:left;
}
.logo__text{
display: none;
}
.navmenu__list{
float:right;
}
.navmenu__list__icon--bar{
width:40px;
height:40px;
text-align:center;
line-height:40px;
font-size:22px;
display:none;
}
.navmenu__list__icon--close{
width:40px;
height:40px;
text-align:center;
line-height:40px;
font-size:32px;
position:absolute;
top:15px;
right:15px;
display:none;
}
.navmenu .menu{
text-transform:uppercase;
font-size:12px;
}
.navmenu .menu li a:hover{
background:#f5f5f5;
color:#5bb8ff;
text-decoration: none;
}
.navmenu .menu li a:hover,
.navmenu .menu li a .count{
color:#004376;
}
.navmenu .menu li a .count{
width:25px;
height:25px;
overflow:hidden;
vertical-align:middle;
line-height:25px;
text-align:center;
background:#eee;
border-radius:50%;
margin:-3px 0 0 5px;
display:inline-block;
}
.navmenu .menu li a i{
margin:0 0 0 5px;
}
.navmenu .menu li a:hover .count{
background:#5bb8ff;
color:#fff;
}
.navmenu .menu li a.btn{
height:34px;
line-height:34px;
font-size:12px;
border-radius:34px;
padding:0 15px;
margin:0;
color:#fff;
border:none;
box-shadow:none;
}
.navmenu .menu li a.btn:hover,
.navmenu .menu li a.btn:focus{
background:#999;
border-color:#999;
box-shadow:none !important;
}

.navmenu a,.navmenu a{
color:#fff;
}
.navmenu .menu{
float:right;
text-transform:uppercase;
font-size:12px;
}
.navmenu .menu li{
float:left;
line-height:40px;
}
.navmenu .menu > ul > li{
margin: 0 0.5em;
}
.navmenu .menu li a{
display: block;
padding: 0 10px;
border-radius: 0;
/* font-weight: 600; */
font-size: 0.8rem;
letter-spacing: 0.5px;
transition: 0.1s all;
}
.navmenu .menu li a.button{
background:#5bb8ff;
height:40px;
border-radius:40px;
padding:0 25px;
margin:0 0 0 10px;
}
.navmenu .menu li a.button:hover{
color:#fff;
}

/* menubar dropdown */
.menu-dropdown{
cursor:pointer;
padding:0 10px;
position:relative;
color: #fff;
z-index:2;
}
.menu-dropdown__button{
text-align: left;
padding: 0 10px;
border: 0;
background-color: transparent;
text-transform: uppercase;
float: left;
color: #fff;
width: 100%;
cursor: pointer;
}
.menu-dropdown .username{
max-width:70px;
height:25px;
display:inline-block;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}
.menu-dropdown .imgProfile{
height:36px;
width:36px;
line-height:0;
border-radius:50%;
overflow:hidden;
display:inline-block;
margin:0 5px -13px 10px;
}
.menu-dropdown .imgProfile img{
height:36px;
width:36px;
overflow:hidden;
border-radius:50%;
}
.menu-dropdown i{
margin:0 0 0 5px;
}
.menu-dropdown__list{
background-color:#fff;
box-shadow:1px 1px 10px rgba(0,0,0,.4);
position:absolute;
top: 100%;
left:0;
width:175px;
display:none;
}
.menu-dropdown__list > li{
  width: 100%;
}
.menu-dropdown__list > li:last-child:after{
  content: '';
  display: block;
  clear: both;
}
.menu-dropdown li{
float:none;
padding:0;
margin:0;
line-height:1.6em;
border-bottom:1px solid #eee;
}
.menu-dropdown li:nth-last-child(1){
border:none;
}
.menu-dropdown a{
padding:12px;
margin:0;
color:#333;
}


@media (max-width:767.5px){
  .menu-dropdown .username{
	max-width:100%;
	height:auto;
	display:block;
	}
	.menu-dropdown .imgProfile,
	.menu-dropdown .imgProfile img{
	display:none;
	}
	.navmenu .navmenu__list .menu{
	display:none;
	position:fixed;
	right:0;
	left:0;
	bottom:0;
	top:0;
	padding:70px 0 10px;
	background:#004376 url(/assets/home/logo.png) no-repeat 15px 15px;
	z-index:2;
	}
	.navmenu .navmenu__list .menu ul{
  width: 100%;
  box-shadow: none;
	position:relative;
	overflow-y:auto;
	overflow-x:hidden;
	}
  .navmenu .navmenu__list .menu > ul{
  border-top: 1px solid rgba(255,255,255,.1);
	}
	.navmenu .menu li a.btn{
	height:42px;
	line-height:42px;
	color:#fff;
	margin:25px 15px;
	border-radius:34px;
	}
	.navmenu .menu li a:hover{
	border-radius:0;
	background:rgba(255,255,255,.2);
	color:#fff;
	}
	.navmenu .menu li a .count{
	color:#004376;
	}
	.navmenu .menu li a .count,
	.navmenu .menu li a i{
	position:absolute;
	right:10px;
	top:50%;
	margin:-12.5px 0 0;
	}
	.navmenu .menu li a i{
	right:15px;
	font-size:18px;
	}
	.navmenu .menu li a{
	}
	.menu-dropdown i{
	position:absolute;
	right:16px;
	top:0;
	font-size:18px;
	margin:15px 0 0;
	}
	.menu-dropdown li{
	border-bottom:none;
	}
	.navmenu__list .menu-dropdown ul{
	border:none;
	}
	.menu-dropdown a{
	padding:12px 15px 12px 30px;
	margin:0;
	color:rgba(255,255,255,.65);
	margin:0 -5px;
	}


	.navmenu .navmenu__list__icon--bar,
	.navmenu .navmenu__list__icon--close{
	display:block;
  color: #e1e1e1;
	}
	.navmenu .menu li a.btn{
	height:42px;
	line-height:42px;
	color:#fff;
	margin:25px 15px;
	border-radius:34px;
	}
  .menu-dropdown__list{
    background-color: rgba(255,255,255,.2);
  }
	.menu-dropdown__list > li > a{
	position:relative;
  color: rgba(255,255,255,.5);
  padding: 0;
	}
	.navmenu .menu li a .count{
	color:#004376;
	}
	.navmenu .menu li a .count,
	.navmenu .menu li a i{
	position:absolute;
	right:10px;
	top:50%;
	margin:-12.5px 0 0;
	}
	.navmenu .menu li a i{
	right:15px;
	font-size:18px;
	}
	.navmenu .menu li{
	line-height:48px;
	margin:0;
  width: 100%;
	}
	.navmenu .menu li a.button{
	background:#5bb8ff;
	height:42px;
	line-height:42px;
	border-radius:42px;
	padding:0 25px;
	margin:25px 15px;
	text-align:center;
	}
	.menu-dropdown{
	margin:0;
	padding:0;
	text-indent:15px;
	}
	.menu-dropdown .menu-dropdown{
	background:rgba(255,255,255,.2);
	box-shadow:none;
	position:static;
	left:auto;
	width:100%;
	text-indent:0;
	}
}

@media (min-width: 769px) {
  .menu-dropdown:hover{
  background:#eee;
  color:#5bb8ff;
  }
  .menu-dropdown:hover .menu-dropdown__button{
  color:#004376;
  }
  .menu-dropdown:hover .menu-dropdown__list{
  display:block;
  }
}

@media (max-width: 768px) {
  .navmenu .menu > ul > li{
    margin: 0;
  }
}
