@import 'global.css';
@import 'grid-vertical.css';
@import 'c-card.css';
@import 'c-button-more.css';

/*TODO - deletethis*/
body{
  font-family: 'Montserrat', san-serif;
  line-height: 140%;
}
button:focus{
  outline: none;
}
.headTagLine{
  background: #001b30;
  padding: 35px 25px 95px;
  margin: 0;
  color: #fff;
  overflow: hidden;
}
/*END: TODO - deletethis*/

.s-button-expired:before{
  content: '';
  display: table;
  width: 100%;
}
.onlinetest{
  letter-spacing: 0.3px;
  color: #444;
}

.onlinetest__profile{
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
}
.onlinetest__profile.onlinetest__profile--sm{
  width: 100px;
}

.onlinetest__tagline{
  padding: 0 0 2.5em 0;
  font-size: 1.2em;
  letter-spacing: 0.7px;
  text-align: center;
}

.onlinetest__tag-title{
  color: #666;
  width: 100%;
  padding: 1em 2em;
  margin-bottom: 1rem;
}

.onlinetest__list-section{
  margin-bottom: 3em;
}
.onlinetest__list-section .c-card{
  margin-bottom: 1.5em;
}
.onlinetest__subtitle{
  margin-bottom: 1em;
}
.onlinetest__skill__title{
  font-weight: 600;
}
.onlinetest__skill__subtitle{
  font-size: 0.7em;
  font-weight: 600;
  color: #004376;
}

.l-onlinetest__content{
  margin-top: -85px;
}

.l-onlinetest__header{
  height: 283px;
}

.onlinetest__header--lg .headTagLine{
  min-height: 250px;
}
.onlinetest__header--lg .l-onlinetest__content{
  margin-top: -145px;
}

.onlinetest__header__title{
  font-weight: 600;
  color: #fff;
  display: flex;
  align-items: flex-end;
  padding-bottom: 1em;
}

.onlinetest__guidance{
  color: #ec507e;
  list-style-type: disc;
  padding-left: 1em;
  font-size: 0.9em;
}

.onlinetest__badges-table{
  width: 100%;
}
.onlinetest__badges-table th{
  font-weight: 600;
  font-size: 1.1em;
  padding-bottom: 1em;
}
.onlinetest__badges-table tr{
  border-bottom: 1px solid #e1e1e1;
}
.onlinetest__badges-table tr:last-child{
  border-bottom: none;
}
.onlinetest__badges-table td{
  vertical-align: middle;
  padding: 1em 0.5em;
}

/*question page*/
.onlinetest__tagline--question{
  padding: 1em 0 0.5em 0;
}

.onlinetest__question-header{
  font-size: 16px;
}
.onlinetest__question-header__desc{
  font-size: 0.75em;
}
.onlinetest_question-number{
  text-align: center;
  color: #fff;
  margin-bottom: 0.6em;
}

.onlinetest__time__wrapper{
  text-align: left;
  display: inline-block;
}
.onlinetest__time__header{
  font-size: 0.6em;
  line-height: 100%;
  margin-bottom: 0.4em;
}
.onlinetest__time__content{
  color: #e91e63;
  border: 2px solid #e91e63;
  border-radius: 4px;
  display: inline-block;
  padding: 0.15em 1.1em;
  font-size: 0.9em;
}

.onlinetest__footer-note{
  color: #e91e63;
  border: 1px solid #e91e63;
  border-radius: 4px;
  display: inline-block;
  padding: 0.15em 1.1em;
  font-size: 0.8em;
}

/*custom label --text*/
.onlinetest__option-text li{
  position: relative;
}
.onlinetest__option-text label{
  display: block;
  border: 1px solid #bfbfbf;
  text-align: left;
  padding: 0.5em 1em 0.5em 2.5em;
  margin: 0.8em 0;
  border-radius: 4px;
  cursor: pointer;
}
.onlinetest__option-text input{
  margin-right: 0.5em;
}
.onlinetest__option-text input[type=radio]{
  position: absolute;
  visibility: hidden;
}
.onlinetest__option-text .check{
  position: absolute;
  display: inline-block;
  border: 1px solid #aaa;
  border-radius: 100%;
  height: 16px;
  width: 16px;
  top: 11px;
  left: 14px;
  z-index: 5;
  pointer-events: none;
  transition: border .25s linear;
}
.onlinetest__option-text .check > .fa{
  opacity: 0;
  font-size: 1.3em;
  margin-top: -3px;
  margin-left: -1px;
  color: #6ac259;
  transition: 0.2s linear opacity;
}
/*state*/
.onlinetest__option-text input[type=radio]:checked ~ label,
.onlinetest__option-text label:hover{
  border: 1px solid #6ac259;
  color: #249b0d;
}
.onlinetest__option-text label:hover ~ .check{
  border: 1px solid #6ac259;
}
.onlinetest__option-text input[type=radio]:checked ~ .check > .fa,
.onlinetest__option-text label:hover ~ .check > .fa{
  opacity: 1;
}
/*END: custom label*/

@media (max-width: 768px) {
  .l-onlinetest__header{
    height: auto;
  }
  .onlinetest__tagline{
    text-align: center;
  }
  .onlinetest__header__title{
    display: none;
  }
  .onlinetest__header__subtitle{
    text-align: center;
  }
}